.case{
    &__header{
        background: url(../img/images/energy.png) center center / cover no-repeat;
        height: 575px;
        margin-top: 70px;
        &_header{
            // position: fixed;
            // top: 0;
            // left: 0;
            transition: .3s all;
            z-index: 100;
            background: #ffffff;
            // &:hover{
            //     background: rgba(#fff, 0.5);
            //     backdrop-filter: blur(3px);
            //     transition: .3s all;
            // }
        }
    }
    &__info{
        background-color: #fff;
        margin-top: -93px;
        &_descr{
            margin-top: 172px;
            padding-left: 25px;
        }
        &_row{
            // justify-content: center;
        }
        &_title{
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #FF0000;
            padding-top: 18px;
            &-ml{
                margin-left: 17px;
            }
        }
        &_name{
            font-family: 'Russo One', sans-serif;
            font-size: 60px;
            line-height: 130%;
            color: #000000;
        }
    }
    &__technology{
        padding-top: 113px;
        &_descr{
            display: flex;
            align-items: flex-start;
            &-stack{
               margin-right: 38px;
               display: flex;
               flex-direction: column;
               &_img{
                   height: 60px;
               }
               &_title{
                   text-align: center;
                   font-size: 16px;
                    line-height: 130%;
                    letter-spacing: 0.05em;
                    text-transform: lowercase;
                    color: #000000;
               }
            }
        }
    }
    &__time{
        padding-top: 60px;
        &_descr{
            font-family: 'Russo One', sans-serif;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #000000;
            a{
                font-family: 'Russo One', sans-serif;
                font-size: 32px;
                line-height: 130%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #000000;
                transition: .3s all;
                &:hover{
                    text-decoration: none;
                    color: #ff0000;
                    transition: .3s all;
                }
            }
            &-mini{
                font-size: 16px;
                line-height: 130%;
                color: #000000;
                margin-top: 70px;
            }
        }
    }
    &__banner{
        margin-top: 18px;
        .container-fluid{
            padding: 0;
        }
        &_descktop{
            width: 100%;
            &-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                height: auto;
                max-height: 485px;
                overflow: hidden;
            }
        }
        &_mobile{
            width: 100%;
            display: none;
        }
        // img{
        //     width: 100%;
        // }
    }
    &__mobileInterfaces{
        padding-top: 77px;
        &_sliderRow{
            margin-top: 33px;
        }
    }
    &__managerSide{
        display: flex;
        align-items: center;
        overflow-x: scroll;
    }
    &__desktopInterfaces{
        padding-top: 128px;
        &_title{
            padding-top: 42px;
            display: flex;
            align-items: center;
            &-client{
                transition: .5s all;
                color: #FF0000;
                font-family: 'Russo One', sans-serif;
                font-size: 32px;
                line-height: 130%;
                text-transform: capitalize;
                cursor: pointer;
            }
            &-manager{
                transition: .5s all;
                font-family: 'Russo One', sans-serif;
                color: #ffffff;
                -webkit-text-stroke: 1px #000000;
                font-size: 32px;
                line-height: 130%;
                text-transform: capitalize;
                cursor: pointer;
                &_ML{
                    margin-left: 20px;
                }
            }
        }
    }
    &__userFlow{
        padding-top: 104px;
        // background: #F9F9F9;
        &_title{
            padding-top: 0;
        }
        &_fluid{
            background: #F9F9F9;
            &-block{
                img{
                    width: 100%;
                }
            }
        }
    }
    &__colors{
        padding-top: 34px;
        &_circles{
            padding-top: 61px;
            display: flex;
            align-items: center;
            &-block{
                margin-right: 93px;
            }
            &-circle1{
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background-color: #E8D451;
                cursor: pointer;
            }
            &-circle2{
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background-color: #000000;
                cursor: pointer;
            }
            &-circle3{
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background-color: #F3F3F3;
                cursor: pointer;
            }
            &-circle4{
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background-color: #B9B9B9;
                cursor: pointer;
            }
            &-text{
                margin-top: 16px;
                font-size: 16px;
                line-height: 130%;
                text-align: center;
                color: #000000;
            }
        }
    }
    &__typografy{
        padding-top: 65px;
        &_row{
            align-items: baseline;
        }
        &_title{
            font-weight: 500;
            font-size: 22px;    
            line-height: 130%;
            color: #000000;
            &-h1{
                font-size: 36px;
                line-height: 100%;
                position: absolute; 
                top: -93px;
                white-space: nowrap;
                &_center{
                    // left: 26px;
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                }
                &_right{
                    right: 0;
                }
            }
            &-h2{
                font-size: 24px;
                position: absolute;
                top: -58px;
                &_center{
                    // left: 26px;
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                }
                &_right{
                    right: 0;
                }
            }
            &-h3{
                font-size: 18px;
                position: absolute;
                top: -26px;
                &_center{
                    // left: 38px;
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                }
                &_right{
                    right: 0;
                }
            }
            &-h4{
                font-size: 16px;
                position: absolute;
                top: 4px;
                &_center{
                    // left: 41px;
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                }
                &_right{
                    right: 0;
                }
            }
            &-text{
                font-size: 16px;
                font-weight: 400;
                position: absolute;
                top: 32px;
                &_center{
                    // left: 41px;
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                }
                &_right{
                    right: 0;
                }
            }
            &-link{
                font-size: 14px;
                font-weight: 400;
                text-decoration: #E8D451;
                text-decoration-line: underline;
                color: #E8D451;
                cursor: pointer;
                position: absolute;
                top: 61px;
                &_center{
                    // left: 44px;
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                }
                &_right{
                    right: 0;
                }
            }
        }
        &_fonts{
            margin-top: 20px;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            &_title{
                margin-right: 35px;
            }
            &-name{
                text-align: left;
                width: 180px;
                position: relative;
                &_center{
                    text-align: center;
                    width: 180px;
                    position: relative;
                    margin: 0 86px;
                }
                &_right{
                    text-align: right;
                    width: 180px;
                    position: relative;
                }
            }
            &-title{
                width: 10%;
            }
        }
    }
    &__icons{
        padding-top: 150px;
        &_left{
            &-wrapper{
                display: flex;
                align-items: center;
                div{
                    margin-right: 18px;
                }
            }
        }
        &_right{
            &-wrapper{
                display: flex;
                align-items: center;
                div{
                    margin-right: 18px;
                }
            }
        }
        &_wrapper{
            display: flex;
            align-items: center;
        }
    }
    &__other{
        padding-top: 164px;
    }
    &__contact{
        padding-bottom: 81px;
    }
}

.hero-slider-item {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}

.hero-slider-item1{
    margin-top: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
}

.flickity-prev-next-button{
    display: none;
}

.case__userFlow_fluid-block_img{
    transition: .3s all;
}
.loupe{
    transform: scale(1.5);
}


//test transform translate X

.case__managerSide{
    transform: translateX(25%);
    overflow: hidden;
}
.case__mobileInterfaces_sliderRow{
    overflow: hidden;
}




//After New Year commit


///Slider

// .flickity-slider{
//     transform: translateX(23%)!important;
// }
.asas{
    width: 23%;
}

.flickity-page-dots{
    display: none;
}

// Slider first 
.swiper-slidePT-first_img{
    box-shadow: none;
}
.swiper-slide.swiper-slidePT-first{
    width: 259px!important;
}
.swiper-slidePT-first {
    .swiper-slidePT-first_img{
        border: none;
        box-shadow: none;
    }
}
.swiper-slide.swiper-slidePT-first{
    height: 477px;
}



.swiper-slide.swiper-slidePT-third img{
    border: none;
    box-shadow: none;
}
.swiper-slide.swiper-slidePT-third{
    height: 516px;
}

.swiper-slidePT-third img{
    border-radius: 10px;
}
.swiper-container__col{
    padding-left: 0;
    padding-right: 0;
}