.contact{
    padding: 195px 0 83px 0;
    &__title{
        font-family: 'Russo One', sans-serif;
        font-size: 60px;
        line-height: 130%;
        color: #000000;
    }
    &__form{
        margin-top: 48px;
        &_wrapper{
            display: flex;
            align-items: center;
            position: relative;
            &-mt{
                margin-top: 24px;
            }
            &-divinput{
              position: relative;
              width: 50%;
            }
            &-input{
                // min-width: 286px;
                height: 50px;
                padding: 0 14px 0 14px;
                border: none;
                outline: none;
                background: rgba(229, 229, 229, 0.5);
                box-sizing: border-box;
                border-radius: 2px;
                font-size: 12px;
                line-height: 14px;
                color: #000000;
                width: 100%;
                &:focus{
                    border: 1px solid #B9B9B9;
                }
                &::placeholder{
                    font-size: 12px;
                    line-height: 14px;
                    color: rgba(0, 0, 0, 0.6);
                }
                &_ml{
                    margin-left: 31px;
                }
                &_formCheckRight{
                    display: none;
                    position: absolute;
                    right: 5px;
                    top: 12px;
                } 
                &_formError{
                  display: none;
                  position: absolute;
                  font-size: 10px;
                  line-height: 130%;
                  color: #AD2115;
                  right: 0;
                  bottom: -13px;
                }
            }
            &-textarrea{
                resize: none;
                outline: none;
                width: 100%;
                height: 134px;
                border: none;
                background: rgba(229, 229, 229, 0.5);
                box-sizing: border-box;
                border-radius: 2px;
                font-size: 12px;
                line-height: 14px;
                color: #000000;
                padding: 18px 14px;
                &:focus{
                    border: 1px solid #B9B9B9;
                }
                &::placeholder{
                    font-size: 12px;
                    line-height: 14px;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            &-btn{
                margin-top: 18px;
                border: none;
                outline: none;
                border-bottom: 2px solid #000000;
                background: transparent;
                font-weight: 600;
                font-size: 24px;
                line-height: 130%;
                color: #000000;
                padding-left: 0;
                padding-right: 0;
                transition: .3s all;
                &:hover{
                  color: #ff0000;
                  border-bottom: 2px solid #ff0000;
                  transition: .3s all;
                }
            }
        }
    }
    &__aside{
        margin-top: 48px;
        &_block{
            margin-top: 24px;
        }
        &_title{
            font-family: 'Russo One', sans-serif;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FF0000;
        }
        &_mail{
            font-size: 16px;
            line-height: 130%;
            text-decoration-line: underline;
            color: #000000;
            &:hover{
                text-decoration-line: underline;
                color: #000000;
            }
        }
        &_tell{
            font-size: 16px;
            line-height: 130%;
            color: #000000;
            text-decoration: none;
            &:hover{
                color: #000000;
                text-decoration: none; 
            }
        }
        &_icons{
            display: flex;
            align-items: center;
            &-linkedin{
                margin: 0 12px 0 15px;
                cursor: pointer;
                &:hover{
                  .contact__aside_icons-path{
                    transition: .3s all;
                    fill: #ff0000;
                  }
                }
                svg{
                  path{
                    transition: .3s all;
                  }
                }
            }
            &-fb{
                cursor: pointer;
                &:hover{
                  .contact__aside_icons-fb_path{
                    transition: .3s all;
                    fill: #ff0000;
                  }
                }
                svg{
                  path{
                    transition: .3s all;
                  }
                }
            }
            &-tg{
                cursor: pointer;
                &:hover{
                  .contact__aside_icons-tg_path{
                    transition: .3s all;
                    fill: #ff0000;
                  }
                }
                svg{
                  path{
                    transition: .3s all;
                  }
                }
            }
        }
    }
}



*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --select-focus: #B9B9B9;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.6);

  z-index: 1;
  &::-ms-expand {
    display: none;
  }
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  background: rgba(229, 229, 229, 0.5);
  font-size: 12px;
  width: 100%;
  height: 50px;
  padding: 0px 12px 0px 16px;
  select,

  &::after {
    grid-area: select;
    padding: 20px 0;
  }


  border: 1px solid var(--select-border);
  border-radius: 2px;

  cursor: pointer;
  line-height: 1.1;
  &:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    border: solid rgba(0, 0, 0, 0.6);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 5px;
  }
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  height: 6rem;
  option {
    white-space: normal;
    outline-color: var(--select-focus);
  }
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select + label {
  margin-top: 2rem;
}

.select2{
    margin-left: 31px;
}

.select{
  width: 50%;
  select{
    width: 100%;
  }
}
.select2{
  width: 50%;
  select{
    width: 100%;
  }
}
.contact__form_wrapper-btn{
  outline: none!important;
  display: flex;
  align-items: center;
}
.contact__form_wrapper-btn_arrow{
  display: none;
}