.ex2app{
    &__header{
        background: url(../img/ex2/img/ex2app_main.png) center center / cover no-repeat;
        height: 575px;
        margin-top: 20px;
    }
    &__info{
        margin-top: -107px;
        &_wrapper{
            display: flex;
            align-items: center;
        }
    }
    &__case{
        &_info{
            margin-top: 41px;
        }
    }
    &__technology{
        display: flex;
        align-items: center;
        &_row{
            margin-top: 113px;
        }
        &_block{
            margin-right: 40px;
        }
        div{
            div{
                &:first-child{
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:last-child{
                    text-align: center;
                }
            }
        }
    }
    &__title{
        margin-top: 70px;
    }
    &__main{
        &_picture{
            margin-top: -78px;
            overflow-x: hidden;
            img{
                width: 100%;
                margin-left: 5%;
                max-width: 1400px;
            }
        }
    }
    &__branding{
        padding-top: 153px;
        &_right{
            // вапвпп
        }
        &_card{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            img{
                width: 100%;
            }
        }
    }
    &__longTitle{
        padding-top: 61px;
    }
    &__contact{
        padding-top: 96px;
    }

}

.mouse-parallax {
    min-height: 619px;
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 520px;
}
.mouse-parallax-bg {
    position: absolute;
    // background-image: url("../img/ex2/img/ex2app_main.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;  
}
// .ex2app__title{
//     margin-top: 70px;
// }
.hero-slider-item_ex2app_descktop{
    padding-top: 25px;
    img{
        margin-bottom: 50px;
        border: 1px solid #B9B9B9;
        box-sizing: border-box;
        box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
}



.swiper-slide__ex2First img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
}

.swiper-slide.swiper-slide_ex2Second{
    width: 216px!important;
    height: 463px;
}
.swiper-slide_ex2Second img{
    width: 100%;
}
.swiper-slide__ex2First_moreH img{
    height: 526px;
}

.swiper-slide.swiper-slide_ex2Second img{
    border: none;
}
.swiper-slide.swiper-slide_ex2Second{
    margin-left: 20px;
    margin-right: 20px;
}

#paralax_image{
    width: 100%;
}

.ex2app__paralax{
    width: 100%;
}
.ex2app__paralax{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ex2app__paralax img{
    width: 100%;
}
.row__mobile__interfaces{
    display: none;
}