.faq__QA{
    padding: 147px 0 0 0;
    &__title{
        font-family: 'Russo One', sans-serif;
        // text-align: center;
        font-size: 60px;
        line-height: 130%;
        color: #000000;
        cursor: pointer;
    }
    &_descr{
        font-size: 16px;
        line-height: 130%;
        color: #000000;
        padding-left: 60px;
    }
    &_search{
        // margin: auto;
        position: relative;
        &-icon{
            position: absolute;
            top: 33px;
            left: 28px;
        }
    }
    &_faq{
        display: flex;
        align-items: flex-start;
        &-title{
            font-family: 'Russo One', sans-serif;
            font-size: 32px;
            line-height: 130%;
            color: #000000;
            opacity: 0.7;
            margin-left: 15px;
            transition: .5s all;
            cursor: pointer;
        }
        &-mt{
            margin-top: 24px;
        }
    }
    &_row{
        margin-top: 121px;
    }
    &_descr{
        display: none;
        margin-top: 24px;
    }
}
.faq__QA_search-input{
    max-width: 760px;
    display: block;
    height: 50px;
    outline: none;
    margin-top: 16px;
    padding: 0 35px;
    border: 1px solid #E5E5E5;
    width: 100%;
}

.faq_QA_faq-svg{
    min-width: 18px;
    cursor: pointer;
    transition: .5s all;
    margin-top: 9px;
    path{
        transition: .1s all;
    }
}

.faq__qa_svgPath-active{
    fill: #000000!important;
    transition: .1s all;
}
.faq__qa_svg-active{
    transform: rotate(45deg);
    transition: .5s all;
}

.faq__QA_faq-title-active{
    transition: .5s all;
    opacity: 1;
}

.we__title_faq{
    font-family: 'Russo One', sans-serif;
    display: inline-block;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}
.faq__QA_descr-ol{
    padding-left: 15px;
}