.header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 59px;
    transition: .3s all;
    position: fixed!important;
    top: 0;
    z-index: 100000000;
    background: #fff;
    &:hover{
        box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.15);
    }
    &__row{
        align-items: center;
    }
    &__logo{
        width: 114px;
    }
    &__container{
        padding: 0 60px;
    }
    &__puncts{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &_punct{
            font-weight: 600;
            font-size: 14px;
            line-height: 130%;
            color: #000000;
            margin-left: 80px;
            cursor: pointer;
            transition: .2s all;
            a{
                transition: .2s all;
                color: #000000;
                &:hover{
                    text-decoration: none;
                    color: #ff0000;
                    transition: .2s all;
                }
            }
            &-active{
                color: #ff0000!important;
            }
            &:hover{
                color: #ff0000;
                transition: .2s all;
            }
        }
    }
}

.block__burger{
    display: flex;
    justify-content: flex-end;
}
.burger__first, .burger__second, .burger__third{
    transition: .3s all;
}
.burger{
    display: none;
    &__close{
        display: none;
    }
    &__menu{
        position: fixed!important;
        display: none;
        background: #ffffff;
        position: fixed;
        top: 79px;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc(100vh - 76px);
        width: 100vw;
        z-index: 3;
        &_list{
            text-align: center;
            margin-top: 30px;
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #000000;
        }
        &_iconsWrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 74px;
            &-linkedin{
                margin-left: 35px;
                margin-right: 35px;
            }
        }
    }
}
.burger__menu-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
}