.mathisonPlugin .siteManager__header{
    background: #b2b2b2 url(../img/mathison/images/mathison__main.png) center center/cover no-repeat;
}
.mathisonPlugin__tech_wrapper-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 79px;
    div{
        img{
            height: 44px;
        }
    }
}
.mathisonPlugin__tech_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.mathisonPlugin__tech_wrapper-block_title{
    margin-top: 8px;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
}
.mathisonPlugin__case_descr{
    font-size: 16px;
    line-height: 130%;
    color: #000000;
    padding-left: 17px;
}
.mathisonPlugin .siteManager__descktop-enter{
    margin-top: 120px;
}

.mathisonPlugin #paralax_image{
    width: 900px;
}
.mathisonPlugin .ex2app__main_picture img{
    margin-left: 0;
}
.mathisonPlugin .mouse-parallax {
    min-height: 519px;
    padding-top: 100px;
}
.mathisonPlugin .mouse-parallax-bg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mathisonPlugin__case_descr2{
    padding-left: 23px;
    font-size: 16px;
    line-height: 130%;
    color: #000000;

}
.mathisonPlugin__main_pict{
    display: none;
}
.mathisonPlugin__left img:first-child{
    margin-top: 0;
}
.mathisonPlugin__left img{
    display: block;
    margin-top: 50px;
    width: 100%;
    max-width: 250px;
}
.mathisonPlugin__left, .mathisonPlugin__center, .mathisonPlugin__right{
    width: 30%;
}
.mathisonPlugin__interfaces_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.mathisonPlugin__center img:first-child{
    margin-top: 115px;
}
.mathisonPlugin__center img{
    width: 100%;
    display: block;
    max-width: 250px;
    margin-top: 50px;
}
.mathisonPlugin__right img:first-child{
    margin-top: 40px;
}
.mathisonPlugin__right img{
    width: 100%;
    display: block;
    max-width: 250px;
    margin-top: 50px;
}
.mathisonPlugin__tech-mobile{
    display: none;
}
.mathisonPlugin__slider{
    display: none;
}

.mathisonPlugin .swiper-slide.swiper-slidePT-first{
    width: 171px !important;
    height: 338px;
}
.mathisonPlugin{
    padding-top: 45px;
}
