.mathisonWeb .siteManager__header{
    background: #ff8c9c url(../img/mathison/images/mathison__main.png) center center/cover no-repeat;
}
.mathisonWeb{
    padding-top: 45px;
}

.mathisonWeb .siteManager__descktop-enter{
    margin-top: 55px;
}
.hideMathison_web{
    display: none;
}
.mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 667px;
}
.mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
}
.mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper  .swiper-slide.swiper-slide-big{
    height: 637px;
    overflow: auto;
}


.swiper-slide-big{
    &::-webkit-scrollbar {
      width: 5px;
    }
      /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }
      /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #07afef;
    }
  }

  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
  }

.mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 500px;
}
.mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
}
.mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide {
   height: 561px;
}

.mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
}
.mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide {
    height: 622px;
}

.mathisonWeb__download{
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid #000;
}
.mathisonWeb__download:hover{
    color: #000000;
    text-decoration: none;
}
.mathisonWeb__wrapper_download{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.mathisonWeb__icons-main{
    padding-left: 23px;
}
.mathisonWeb__icons-main_left{
    // width: 50%;
}
.mathisonWeb__icons-main_left-wrapper:first-child{
    margin-top: 0;
}
.mathisonWeb__icons-main_left-wrapper{
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.mathisonWeb__icons-main_right{
    // width: 50%;
}
.mathisonWeb__icons-main_left-wrapper{
    // justify-content: space-between;
}
.mathisonWeb__icons-main_right-wrapper:first-child{
    margin-top: 0;
}
.mathisonWeb__icons-main_right-wrapper{
    display: flex;
    align-items: center;
    margin-top: 70px;
    // justify-content: space-between;
}
.mathisonWeb__icons-main{
    display: flex;
    align-items: flex-start;
}
.mathisonWeb__icons-main_left-wrapper div{
    margin-right: 60px;
}
.mathisonWeb__icons-main_right-wrapper div{
    margin-right: 60px;
}
.mathisonWeb__icons-main_right-wrapper .mathisonWeb__icons-main_right-wrapper_lc {
    margin-right: 0;
}
.mathisonWeb__icons{
    margin-top: 127px;
}
.mathisonWeb__colors{
    margin-top: 90px;
}
.mathisonWeb__colors_block{
    width: 130px;
}
.mathisonWeb__colors_block-circle{
    min-width: 130px;
    height: 130px;
    border-radius: 50%;
}
.mathisonWeb__colors_block-title{
    margin-top: 16px;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.mathisonWeb_pink{
    background: #EC008C;
}
.mathisonWeb_blue{
    background: #07afef;
}
.mathisonWeb_green{
    background: #49E66A;
}
.mathisonWeb_yellow{
    background: #FFF303;
}
.mathisonWeb_black{
    background: #000000;
}
.mathisonWeb__colors_main{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.mathisonWeb__colors_main .mathisonWeb__colors_block:last-child{
    margin-right: 0;
}
.mathisonWeb__colors_main .mathisonWeb__colors_block{
    margin-right: 48px;
}