@media screen and (min-width: 2161px){
  .ex2app__main_picture img{
    margin-left: 13%;
  }
}
@media screen and (min-width: 1626px){
  .ex2app__main_picture img{
    margin-left: 10%;
  }
}


@media screen and (max-width: 1421px){
  .hero-sliderPop .flickity-prev-next-button.next{
    right: 232px;
  }
  .hero-sliderPop .flickity-prev-next-button.previous{
    left: 232px;
  }
}
@media screen and (max-width: 1397px){
  .hero-sliderPop .flickity-prev-next-button.next{
    right: 200px;
  }
  .hero-sliderPop .flickity-prev-next-button.previous{
    left: 200px;
  }
}
@media screen and (max-width: 1334px){
  .hero-sliderPop .flickity-prev-next-button.next{
    right: 160px;
  }
  .hero-sliderPop .flickity-prev-next-button.previous{
    left: 155px;
  }
}
@media screen and (max-width: 1303px){
  .mathisonPlugin #paralax_image {
    width: 800px;
  }
  .mathisonPlugin .mouse-parallax {
    min-height: 519px;
    padding-top: 82px;
  }
}
@media screen and (max-width: 1249px){
  .hero-sliderPop .flickity-prev-next-button.next{
    right: 145px;
  }
  .hero-sliderPop .flickity-prev-next-button.previous{
    left: 140px;
  }
}
@media screen and (max-width: 1200px){
  .hero-sliderPop .flickity-prev-next-button.next{
    right: 120px;
  }
  .hero-sliderPop .flickity-prev-next-button.previous{
    left: 115px;
  }
}
@media screen and (max-width: 1200px){
  .case__icons_left-wrapper div{
    margin-right: 10px;
  }
  .case__icons_right-wrapper div{
    margin-right: 10px;
  }
  .case__colors_circles-circle1{
    width: 120px;
    height: 120px;
  }
  .case__colors_circles-circle2{
    width: 120px;
    height: 120px;
  }
  .case__colors_circles-circle3{
    width: 120px;
    height: 120px;
  }
  .case__colors_circles-circle4{
    width: 120px;
    height: 120px;
  }
  .case__colors_circles-block{
    margin-right: 60px;
  }
  .case__icons_right-wrapper div{
    width: 50px;
  }
  .case__icons_left-wrapper div{
    width: 50px;
  }
  .ex2app__main_picture{
    margin-top: -64px;
  }
  .serpFarm__video{
    height: 345px;
  }
  .case__typografy_fonts-name_center{
    margin: 0 54px;
  }
}
@media screen and (max-width: 1167px){
  .ex2app__paralax{
    overflow: hidden;
  }
  .ex2app__paralax img{
    min-width: 1152px;
  }
}
@media screen and (max-width: 1160px){
  .steps__scale{
    margin: auto;
    margin-top: 155px;
  }
  .FP_SVG{
    top: 65px;
  }
  .workingModules__circles_price-title{
    top: 163px;
  }
}
@media screen and (max-width: 1137px){
  .we__title_faq{
    display: block;
    white-space: nowrap;
  }
}
@media screen and (max-width: 1076px){
  .hero-sliderPop .flickity-prev-next-button.next{
    right: 70px;
  }
  .hero-sliderPop .flickity-prev-next-button.previous{
    left: 65px;
  }
}
@media screen and (max-width: 1058px){
  .case__typografy_fonts-name_center{
    margin: 0 20px;
  }
}
@media screen and (max-width: 1033px){
  .hero-sliderPop .flickity-prev-next-button.next{
    right: 35px;
  }
  .hero-sliderPop .flickity-prev-next-button.previous{
    left: 30px;
  }
}
@media screen and (min-width: 991px){
  .we__digit_20-tablet{
    display: none;
  }
  .without__paralax{
    display: block;
  }
  .without__paralax{
    display: none;
  }
}
// WORKING MODELS
@media screen and (max-width: 1481px){
    .workingModules__circles_price{
        min-width: 365px;
        min-height: 365px;
        height: 365px;
        width: 365px;
    }
    .workingModules__row{
        min-height: 365px;
    }
}
@media screen and (max-width: 1371px){
    .workingModules__circles_price{
        min-width: 350px;
        min-height: 350px;
        height: 350px;
        width: 350px;
    }
    .workingModules__row{
        min-height: 350px;
    }
}
@media screen and (max-width: 1331px){
    .workingModules__circles_price{
        min-width: 325px;
        min-height: 325px;
        height: 325px;
        width: 325px;
    }
    .workingModules__circles_price-hover2{
        transform: translateX(275px);
    }
    .workingModules__circles_price-hover3{
        transform: translateX(550px);
    }
    .workingModules__row{
        min-height: 325px;
    }
}
@media screen and (max-width: 1221px){
    .workingModules__circles_price{
        min-width: 300px;
        min-height: 300px;
        height: 300px;
        width: 300px;
    }
    .workingModules__circles_price-hover2{
        transform: translateX(250px);
    }
    .workingModules__circles_price-hover3{
        transform: translateX(500px);
    }
    .workingModules__row{
        min-height: 300px;
    }
}
@media screen and (max-width: 1129px){
    .workingModules__circles_price{
        min-height: 285px;
        min-width: 285px;
        height: 285px;
        width: 285px;
    }
    .workingModules__circles_price-hover2{
        transform: translateX(235px);
    }
    .workingModules__circles_price-hover3{
        transform: translateX(475px);
    }
    .workingModules__row{
        min-height: 285px;
    }
}
@media screen and (max-width: 1064px){
    .workingModules__circles_price{
        min-height: 275px;
        min-width: 275px;
        height: 275px;
        width: 275px;
    }
    .workingModules__circles_price-hover2{
        transform: translateX(230px);
    }
    .workingModules__circles_price-hover3{
        transform: translateX(460px);
    }
    .workingModules__row{
        min-height: 275px;
    }
    .FP_SVG{
      top: 60px;
    }
    .workingModules__circles_price-title{
      top: 162px;
    }
}
@media screen and (max-width: 1025px){
    .workingModules__circles_price{
        min-height: 265px;
        min-width: 265px;
        height: 265px;
        width: 265px;
    }
    .workingModules__circles_price-hover2{
        transform: translateX(220px);
    }
    .workingModules__circles_price-hover3{
        transform: translateX(440px);
    }
    .workingModules__row{
        min-height: 265px;
    }
}

// PROJECTS TYPE
@media screen and (max-width: 1128px){
    .projectsType__wrapper_top-1{
        width: 50%;
    }
    .projectsType__wrapper_top-3{
        width: 50%;
    }
}

// STACK
@media screen and (max-width: 1400px){
    .stack__stackTop_front{
      width: 42%;
    }
    .stack__stackTop_back{
      width: 42%;
    }
    .stack__stackBottom_mobile{
      width: 42%;
    }
    .stack__stackBottom_design{
      width: 42%;  
    }
}
@media screen and (min-width: 1366px){
  .sup .prive .swiper-wrapper .swiper-slide-active>img{
    transform: scale(1);
  }
}
@media screen and (max-width: 1366px){
  .sup .prive .swiper-wrapper .swiper-slide-active>img{
    transform: scale(1.2);
  }
  .sup .prive .swiper-wrapper .swiper-slide-active .noZoom{
    transform: scale(1);
  }
  
  .sup__close_1{
    left: calc(50% + 235px);
    top: 10px;
  }
  .sup__close_2 {
    left: calc(150% + 238px);
    top: 111px;
  }
  .sup__close_4 {
    left: calc(350% + 239px);
    top: 82px;
  }
  .sup__close_5 {
    left: calc(450% + 237px);
    top: 48px;
  } 
  .sup__close_6 {
    left: calc(550% + 235px);
    top: 7px;
  }
  .sup__close_7 {
    left: calc(650% + 236px);
    top: -85px;
  }
  .sup__close_8 {
    left: calc(750% + 235px);
    top: 77px;
  }
  .sup__close_9 {
    left: calc(850% + 236px);
    top: 77px;
  }
  .sup__close_10 {
    left: calc(950% + 240px);
    top: 82px;
  }
}
@media screen and (max-width: 1355px){
  .stack__stackTop_front{
    width: 44%;
  }
  .stack__stackTop_back{
    width: 44%;
  }
  .stack__stackBottom_mobile{
    width: 44%;
  }
  .stack__stackBottom_design{
    width: 44%;  
  }
}
@media screen and (max-width: 1282px){
  .stack__stackTop_front{
    width: 46%;
  }
  .stack__stackTop_back{
    width: 46%;
  }
  .stack__stackBottom_mobile{
    width: 46%;
  }
  .stack__stackBottom_design{
    width: 46%;  
  }
}
@media screen and (max-width: 1234px){
  .stack__stackTop_front{
    width: 48%;
  }
  .stack__stackTop_back{
    width: 48%;
  }
  .stack__stackBottom_mobile{
    width: 48%;
  }
  .stack__stackBottom_design{
    width: 48%;  
  }
}
@media screen and (max-width: 1184px){
  .stack__stackTop_front-svg{
    min-width: 85px;
    width: 85px;
  }
  .stack__stackTop_back-svg{
    min-width: 85px;
    width: 85px;
  }
  .stack__stackBottom_mobile-svg{
    min-width: 85px;
    width: 85px;
  }
  .stack__stackBottom_design-svg{
    min-width: 85px;
    width: 85px;
  }
}

// ADAPTATION FOR TABLETS

// PROMO


//WORKING MODULES
@media screen and (max-width: 991px){
  
  .workingModules{
    padding-top: 114px;
  }
  .workingModules__circles{
    margin-top: -112px;
  }
  .workingModules__row{
    min-height: 300px;
  }
  .workingModules__circles_price-hover2{
    left: 50%;
    transform: translateX(-50%);
  }
  .workingModules__circles_price-hover1{
    left: 50%;
    transform: translateX(calc(-50% - 215px));
  }
  .workingModules__circles_price-hover3{
    left: 50%;
    transform: translateX(calc(-50% + 215px));
  }
  .workingModules__contact_row{
    justify-content: flex-end;
    padding-right: 30px;
  }
}
//PROJECTS TYPE
@media screen and (max-width: 991px){
  .projectsType{
    padding-top: 103px;
  }
  .projectsType__wrapper{
    padding: 0 25px;
  }
  .projectsType__wrapper_top{
    margin-top: 58px;
  }
  .projectsType__wrapper_bottom{
    margin-top: 141px;
  }
}


//STEPS

@media screen and (max-width: 991px){
  .steps{
    padding-top: 104px;
  }
  .steps__approach_row{
    justify-content: flex-end;
    padding-right: 30px;
  }
}
  
//TECH STACK

@media screen and (max-width: 991px){
  .stack{
    padding-top: 54px;
  }
  .stack__stackTop{
    margin-top: 59px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .stack__stackBottom{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 887px){
  .stack__stackBottom_design-svg{
    min-width: 70px;
    width: 70px;
  }
  .stack__stackTop_back-svg{
    min-width: 70px;
    width: 70px;
  }
  .stack__stackTop_front-svg{
    min-width: 70px;
    width: 70px;
  }
  .stack__stackBottom_mobile-svg{
    min-width: 70px;
    width: 70px;
  }
};
@media screen and (max-width: 854px){
  .stack__bottom_design-header_title{
    font-size: 30px;
  }
  .stack__top_header-title{
    font-size: 30px;
  }
  .stack__top_header-title{
    font-size: 30px;
  }
  .stack__bottom_mobile-header_title{
    font-size: 30px;
  }
}
@media screen and (max-width: 819px){
  .stack__stackBottom_design-svg{
    min-width: 80px;
    width: 80px;
  }
  .stack__stackTop_back-svg{
    min-width: 80px;
    width: 80px;
  }
  .stack__stackTop_front-svg{
    min-width: 80px;
    width: 80px;
  }
  .stack__stackBottom_mobile-svg{
    min-width: 80px;
    width: 80px;
  }
}


//PROJECTS
@media screen and (max-width: 991px){
  .projects{
    padding-top: 114px;
  }
}


// CONTACT
@media screen and (max-width: 991px){
  .contact{
    padding: 97px 0 78px 0;
  }
  .contact__title{
    font-size: 32px;
    padding-left: 27px;
  }
  .contact__tablet{
    padding-left: 42px;
  }
  .contact__aside_block{
    margin-top: 0;
  }
  .contact__aside{
    padding-left: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact__aside{
    margin-top: 109px;
  }
}


//ADAPTATION FOR MINI TABLETS-MOBILES


  //HEADER 


// @media screen and (max-width: 767px){
//   .header{
//     margin-bottom: 0;
//   }
//   .header__puncts{
//     display: none;
//   }
//   .header__container{
//     padding: 0;
//   }
//   .burger{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     justify-content: center;
//     cursor: pointer;
//     width: 20px;
//     &__first{
//       width: 18px;
//       height: 2px;
//       background-color: #000000;
//       margin-right: 1px;
//     }
//     &__second{
//       width: 20px;
//       height: 2px;
//       background-color: #000000;
//       margin: 3px 0;
//     }
//     &__third{
//       width: 18px;
//       height: 2px;
//       background-color: #000000;
//       margin-right: 1px;
//     }
//   }
// }
// //PROMO
// @media screen and (max-width: 767px){
//   .promo__container{
//     padding-left: 0;
//     padding-right: 0;
//   }
//   .promo__title{
//     font-size: 32px;
//   }
//   .promo__frame{
//     right: 15%;
//   }
// }

// // WE 
// @media screen and (max-width: 767px){
//   .we__title{
//     padding-left: 0;
//     padding-right: 0;
//   }
//   .we__descr{
//     padding-left: 0;
//     padding-right: 0;
//     line-height: 150%;
//     margin-top: 16px;
//   }
//   .we__digit{
//     flex-direction: column;
//     align-items: flex-start;
//     margin-top: 45px;
//     padding-left: 0;
//     padding-right: 0;
//   }
//   .we__digit_title{
//     font-size: 24px;
//   }
//   .we__digit_20-tablet{
//     margin-top: 45px;
//     padding-left: 0;
//     padding-right: 0;
//   }
//   .we__focus_digits{
//     margin-top: 45px;
//   }
//   .we__digit_subtitle{
//     font-size: 14px;
//   }
//   .we__location{
//     margin-top: 50px;
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

// //EXPERTISE

// @media screen and (max-width: 767px){
//   .expertise{
//     padding-top: 41px;
//   }
// }

// //WORKING MODELS

// @media screen and (max-width: 767px){
//   .workingModules__circles{
//     display: none;
//   }
//   .workingModules{
//     padding-top: 60px;
//   }
//   .workingModules__title{
//     padding-left: 0;
//     padding-right: 0; 
//   }
//   .workingModules__row{
//     min-height: 0px;
//   }
//   .workingModules__circle_mobile-wrapper{
//     margin: auto;
//     margin-top: 28px;
//   }
//   .workingModules__circle_mobile{
//     min-width: 241px;
//     min-height: 241px;
//     width: 241px;
//     height: 241px;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;
//     border: 3px solid #000000;
//     transition: .3s all;
//     div{
//       font-family: 'Russo One', sans-serif;
//       font-size: 20px;
//       line-height: 100%;
//       text-align: center;
//       letter-spacing: 0.05em;
//       color: #000000;
//       transition: .3s all;
//     }
//     svg{
//       margin-bottom: 15px;
//     }
//     &-price{
//       &:hover{
//         border: 3px solid #ff0000;
//         transition: .3s all;
//         .workingModules__circles_price-hover1_path{
//           fill: #ff0000;
//         }
//         .workingModules__circle_mobile-price_text{
//           color: #ff0000;
//         }
//       }
//     }
//   }
//   .workingModules__circle_mobile-team{
//     transition: .3s all;
//   }
//   .workingModules__circle_mobile{
//     &:hover{
//       border-color: #ff0000;
//       .workingModules__circle_mobile-team{
//         fill: #ff0000;
//         transition: .3s all;
//       }
//       .workingModules__circle_mobile-text{
//         color: #ff0000;
//         transition: .3s all;
//       }
//     }
//   }
//   .workingModules__circle_mobile-clock_path{
//     transition: .3s all;
//   }
//   .workingModules__circle_mobile-clock_text{
//     transition: .3s all;
//   }
//   .workingModules__circle_mobile-clock{
//     &:hover{
//       transition: .3s all;
//       .workingModules__circle_mobile-clock_path{
//         fill: #ff0000;
//       }
//       .workingModules__circle_mobile-clock_text{
//         color: #ff0000;
//       }
//     }
//   }
//   .workingModules__circle_mobile-team{
//     margin-top: -32px;
//   }
//   .workingModules__circle_mobile-clock{
//     margin-top: -32px;
//   }

//   .workingModules__contact_row{
//     padding-right: 0;
//     justify-content: center;
//   }
//   .workingModules__contact_text{
//     font-size: 20px;
//   }
// }

// //PROJECTS TYPE

// @media screen and (max-width: 767px){
//   .projectsType{
//       padding-top: 75px;
//   }
//   .projectsType__wrapper{
//     padding: 0;
//   }
//   .projectsType__wrapper_top{
//     margin-top: 36px;
//     flex-direction: column;
//   }
//   .projectsType__wrapper_bottom{
//     margin-top: 0;
//     flex-direction: column;
//   }
//   .projectsType__wrapper_title{
//     font-size: 24px;
//   }
//   .projectsType__wrapper_list{
//     margin-top: 8px;
//   }
//   .projectsType__wrapper_top-1{
//     width: 100%;
//   }
//   .projectsType__wrapper_top-2{
//     width: 100%;
//     margin-top: 32px;
//   }
//   .projectsType__wrapper_bottom-3{
//     width: 100%;
//     margin-top: 32px;
//   }
//   .projectsType__wrapper_bottom-4{
//     width: 100%;
//     margin-top: 32px;
//   }
//   .projectsType__wrapper_list-item{
//     display: inline;
//   }
//   .projectsType__wrapper_list-item{
//     font-size: 13px;
//   }
// }

// //STEPS 
// @media screen and (max-width: 767px){
//   .steps__click_wrapper-left, .steps__click_wrapper-right{
//     width: 33px;
//   }
//   .steps__approach_textHover{
//     font-size: 20px;
//   }
// }

// //STACK

// @media screen and (max-width: 767px){
//   .stack__stackTop{
//     padding-left: 0;
//     padding-right: 0;
//     flex-direction: column;
//   }
//   .stack__stackBottom{
//     padding-left: 0;
//     padding-right: 0;
//     flex-direction: column;
//   }
//   .stack__stackTop_front{
//     border: none;
//     padding-right: 40px;
//     width: 100%;
//     padding-bottom: 0;
//   }
//   .stack__stackTop_back{
//     border: none;
//     padding-left: 0;
//     width: 100%;
//     padding-right: 40px;
//     padding-bottom: 0;
//     padding-top: 30px;
//   }
//   .stack__stackBottom_design{
//     border: none;
//     padding-left: 0;
//     width: 100%;
//     padding-right: 40px;
//     padding-top: 0;
//     padding-top: 30px;
//   }
//   .stack__stackBottom_mobile{
//     border: none;
//     padding-right: 40px;
//     width: 100%;
//     padding-top: 0;
//     padding-top: 30px;
//   }
//   .stack__stackTop_front-svg, .stack__stackTop_back-svg, .stack__stackBottom_mobile-svg, .stack__stackBottom_design-svg{
//     height: 80px;
//   }
//   .stack__top_header-title, .stack__bottom_mobile-header_title, .stack__bottom_design-header_title{
//     font-size: 24px;
//   }
//   .stack__bottom_design-list_item, .stack__bottom_mobile-list_item, .stack__top_list-item{
//     font-size: 13px;
//   }
// }

// //PROJECTS

// @media screen and (max-width: 767px){
//   .projects{
//     padding-top: 65px;
//   }
//   .projects__wrapper{
//     flex-direction: column;
//     align-items: flex-start;
//     width: 15%;
//   }
//   .projects__products{
//     display: flex;
//     margin-bottom: 31px;
//   }
//   .projects__left{
//     margin-top: 31px;
//   }
//   .projects__img_mt{
//     margin-top: 31px;
//   }
// }


// //CONTACT 
// @media screen and (max-width: 767px){
//   .contact{
//     padding-top: 72px;
//   }
//   .contact__form{
//     margin-top: 24px;
//   }
//   .contact__tablet{
//     padding-left: 15px;
//   }
//   .contact__title{
//     padding-left: 0px;
//   }
//   .contact__form_wrapper{
//     flex-direction: column;
//   }
//   .contact__form_wrapper-input_ml{
//     margin-left: 0;
//   }
//   .select2{
//     margin-left: 0;
//     margin-top: 16px;
//   }
//   .contact__form_wrapper-divinput{
//     width: 100%;
//   }
//   .contact__form_wrapper-mt{
//     margin-top: 16px;
//   }
//   #formCompany{
//     margin-top: 16px;
//   }
//   #email{
//     margin-top: 16px;
//   }
//   .contact__aside{
//     padding-left: 15px;
//     margin-top: 39px;
//   }
// }




//ADAPTATION FOR MOBILES

//PROMO
@media screen and (max-width: 641px){
  .ex2app__paralax img{
    min-width: 896px;
  }
}


@media screen and (max-width: 576px){
  .promo__frame{
    display: none;
  }
  .promo__frameMobile{
    display: block;
    position: absolute;
    top: -34px;
    right: 30px;
  }
  .promo{
    padding: 38px 0;
    background-size: 159% 108%;
  }
  .ex2app__longTitle{
    padding-top: 0;
  }
 
}
//we

@media screen and (max-width: 576px){
  .we__descr{
    font-size: 13px;
  }
  .we__list{
    margin-top: 17px;
  }
}



//steps

@media screen and (max-width: 576px){
  .steps__click_wrapper-left, .steps__click_wrapper-right {
    width: 20px;
  }
  .projects__products{
    display: none;
  }
  .projects__productsMobile{
    display: flex;
    justify-content: space-between;
    margin: 8px 0 31px 0;
  }
  .projects__productsMobile_wrapper-text{
    font-size: 16px;
    line-height: 130%;
    color: #E5E5E5;
    text-transform: lowercase;
  }
}



//contact

@media screen and (max-width: 576px){
  .contact__aside{
    flex-direction: column;
    align-items: flex-start;
  }
  .contact__aside_block-mobile{
    margin: 24px 0;
  }
}




@media screen and (max-width: 991px){
  .pelena{
    display: none!important;
  }
  .popup-slider{
    display: none!important;
  }
  body{
    overflow: auto!important;
  }
  .we{
    padding-bottom: 280px;
  }
  .we__mapKyiv, .we__mapMinsk, .we__mapZp, .we__mapWarsaw, .we__map{
    right: -141px;
    bottom: 13px;
  }
  .we__digit_20-desctop{
      display: none;
  }
  .we__digit_20-tablet{
      display: block;
      margin-top: 80px;
  }
  .promo__title{
      font-size: 42px;
      line-height: 130%;
  }
  .promo__container{
      max-width: 95%;
      justify-content: flex-start;
  }
  .promo__frame{
      width: 230px;
      right: 38%;
      bottom: -88px;
  }
  .we__title{
      padding-left: 27px;
  }
  .we{
      padding-left: 0;
      padding-right: 0;
  }
  .we__digit_title{
      font-size: 32px;
  }
  .we__location{
    padding-left: 27px;
  }
  .expertise__descr{
    margin-top: -18px;
  }
  .expertise{
    padding-top: 0px;
  }
  .workingModules__circles_price-hover3 {
    svg{
        width: 80px;
        height: 80px;
    }
  }
  .workingModules__circles_price-hover2{
    svg{
      width: 80px;
      height: 80px;
    }
  }
  .workingModules__circles_price-hover1{
    svg{
      width: 80px;
      height: 80px;
    }
  }
  .workingModules__circles_price-title{
    font-size: 24px;
  }
  .workingModules__contact{
    margin-top: 46px;
  }
  .projectsType__wrapper_top-1, .projectsType__wrapper_top-2, .projectsType__wrapper_bottom-3, .projectsType__wrapper_bottom-4{
    width: 50%;
  }
  .faq__QA__title{
    font-size: 42px;
  }
  .faq__QA_faq-title{
    font-size: 24px;
  }
  .faq__QA{
    padding-top: 100px;
  }
  .case__userFlow_fluid-block_img{
    &:hover{
      transform: scale(1);
    }
  }
  .case__header_header{
    background: #fff;
    &:hover{
      background: rgba(#fff, 1);
      backdrop-filter: none;
    }
  }
  .case__info_name{
    font-size: 42px;
  }
  .case__info{
    margin-top: -80px;
  }
  .case__info_descr{
    font-size: 13px;
    line-height: 150%;
    margin-top: 70px;
  }
  .case__technology_descr-stack{
    margin-top: 33px;
    margin-right: 0;
    width: 25%;
    display: flex;
    align-items: center;
  }
  .case__technology{
    padding-top: 103px;
  }
  .case__time_descr-mini{
    font-size: 13px;
    line-height: 150%;
  }
  .case__time_descr{
    padding-left: 27px;
  }
  .case__mobileInterfaces_right{
    padding-left: 28px;
  }
  .case__mobileInterfaces{
    padding-top: 82px;
  }
  .case__desktopInterfaces{
    padding-top: 65px;
  }
  .case__desktopInterfaces_title{
    padding-top: 0;
    padding-left: 42px;
  }
  .case__client_first{
    padding-left: 40px;
  }
  .case__userFlow_fluid-block img{
    width: 1000px;
  }
  .case__userFlow_fluid{
    overflow-x: scroll;
  }
  .case__colors_circles-block{
    width: 25%;
  }
  .case__colors_circles-text{
    white-space: nowrap;
  }
  .case__userFlow .case__desktopInterfaces_title{
    padding-left: 27px;
    margin-bottom: 30px;
  }
  .case__typografy_title-title{
    margin-top: 26px;
    padding-left: 27px;
  }
  .case__typografy_fonts-name_right{
    display: none;
  }
  .case__typografy_fonts{
    padding-left: 13px;
  }
  .case__icons_left-wrapper div{
    margin-right: 20px;
  }
  .case__other_title{
    margin-bottom: 38px;
  }
  .case__contact{
    padding-top: 88px;
  }
  .case__typografy_fonts-name_center{
    text-align: left;
    width: 50%;
  }
  .glitch{
    font-size: 42px;
  }
  //ex2app
  .ex2app__header{
    height: 430px;
    margin-top: 80px;
  }
  .case__info_title{
      font-size: 16px;
  }
  .ex2app__info{
    margin-top: -90px;
  }
  .ex2app__technology_row{
    padding-top: 103px;
  }
  .ex2app__technology{
    padding-top: 33px;
  }
  .ex2app__time_descr-mini{
    padding-left: 30px;
  }
  .mouse-parallax{
    min-height: 419px;
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .ex2app__time{
    padding-left: 15px;
  }
  .ex2app__mobile_interfaces{
    margin-bottom: 20px;
  }
  .ex2app__branding_title{
    margin-bottom: 20px;
  }
  .ex2app__branding{
    margin-top: 47px;
  }
  .serpFarm__firstRow{
    margin-top: 30px;
  }
  .serpFarm__tech{
    margin-top: 33px;
  }
  .serpFarm__steps_left{
    &:hover{
      .serpFarm__steps_left-circle{
        display: none;
      }
    }
  }
  .serpFarm__steps_right{
    &:hover{
      .serpFarm__steps_left-circle{
        display: none;
      }
    }
  }
  .serpFarm__steps_wrapper{
    margin-top: 30px;
  }
  .serpFarm__website_maket{
    margin-top: 30px;
  }
  .block{
    right: -141px;
    bottom: 13px;
  }
  .serpFarm__video{
    height: 486px;
    margin-top: 30px;
  }
  //sitemangaer
  .hero-sliderSiteEnter-empty{
    display: none;
  }
  .siteManager__tech_wrapper{
    margin-top: 33px;
  }
  .swiper-wrapper{
    transform: translateX(0);
  }
  .expertise__descr{
    margin-top: 0;
  }
  .block{
    z-index: 1;
    bottom: 513px;
  }
  .promo__title{
    margin-top: -100px;
  }
  .wave{
    height: 347px;
    margin-top: -210px;
    .connecting-dots{
      width: 100vw!important;
      height: 347px!important;
    }
  }
  .promo{
    padding-top: 146px;
  }
  .we{
    padding-bottom: 0;
  }
  .header{
    &:hover{
      box-shadow: none;
    }
  }
  .steps__scale{
    display: flex;
  }
  .termometr__wrapperWra{
    margin: 0 auto;
  }
  .steps__frow{
    margin-bottom: 110px;
  }
  .wave .connecting-dots{
    margin-top: 43px;
  }
  .swiper-slidePT-third{
    margin-right: 25px;
    margin-left: 15px;
  }
  .mouse-parallax-bg{
    transform: translate(0, -67px)!important;
  }
  .swiper-slide__ex2First{
    margin-right: 20px;
    margin-left: 20px;
  }
  .mouse-parallax{
    display: none;
  }
  .mouse-parallax{
    display: none;
  }
  .without__paralax{
    display: flex;
    justify-content: center;
    margin-top: 28px;
    img{
      width: 100%;
    }
  }
  .without__paralax img{
    display: none;
  }
  .ex2app__branding{
    padding-top: 30px;
  }
  .case__header{
    height: 410px;
  }
  .ex2app__technology_row{
    padding-top: 0;
  }
  .ex2app__time-left{
    padding-left: 27px;
  }
  .mathisonPlugin__tech_wrapper{
    margin-top: 30px;
  }
  .mathisonPlugin .siteManager__descktop-enter{
    margin-top: 110px;
  }
  .mathisonPlugin__main_pict{
    display: block;
    margin-top: 80px;
  }
  .mathisonPlugin__main_pict img{
    width: 100%;
  }
  .mathisonPlugin .siteManager__descktop-enter{
    margin-top: 88px;
  }
  .mathisonPlugin__interfaces_wrapper{
    margin-top: 40px;
    padding-left: 27px;
  }
  .mathisonPlugin, .mathisonWeb{
    padding-top: 0px;
  }


}
@media screen and (max-width: 884px){
  .steps__scale_block{
    width: 115px;
  }
  .steps{
    padding-bottom: 95px;
  }
  .stack{
    padding-top: 54px;
  }
}
@media screen and (max-width: 878px){
  .serpFarm__firstRow_block{
    margin-right: 23px;
  }
  .siteManager__tech_wrapper-center{
    margin: 0 150px;
  }
}

@media screen and (max-width: 823px){
  .siteManager__tech_wrapper-center{
    margin: 0 130px;
  }
}

@media screen and (max-width: 797px){
  .swiper-slide{
    width: 548px!important;
    height: 436px;
    margin-right: 25px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 504px;
  }
  .siteManager__descktop-enter{
    margin-top: 80px;
  }
  .siteManager__slider2{
    margin-top: 50px;
  }
  .swiper-slideTools{
    height: 500px;
  }
  .swiper-slideHeight{
    height: 389px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 376px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 386px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 386px;
    img{
      width: 100%;
    }
  }
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 377px;
  }

  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 465px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 505px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 422px;
  }

  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 465px;
  }
}

// ADAPTATION FOR DESCTOP
@media screen and (max-width: 768px){
  .we__digit{
    display: flex;
    flex-direction: row;
  }
  .expertise__descr{
    margin-top: 0;
  }
  .header__puncts{
    padding: 0;
  }
  .header__container{
    padding: 0 40px;
  }
  .header__puncts_punct{
    margin-left: 37px;
  }
  
}


@media screen and (max-width: 768px){
  .workingModules__circles_price{
    min-width: 250px;
    width: 250px;
    min-height: 250px;
    height: 250px;
  }
  .ex2app__development{
    font-size: 13px;
  }
  .serpFarm__firstRow{
    display: none;
  }
  .serpFarm__scoreTablet_firstRow{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .serpFarm__scoreTablet_firstRow-img{
    height: 72px;
    display: flex;
  }
  .serpFarm__scoreTablet_firstRow-block{
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
  .serpFarm__scoreTablet_firstRow-img2{
    height: 70px;
  }
  .serpFarm__video_container{
    margin-top: 90px;
  }
  .serpFarmstack__mobile{
    margin-top: 13px;
  }
  .serpFarm__scoreTablet{
    display: block;
  }
  .we__descr__pl{
    padding-left: 27px;
    margin-top: 16px;
  }
  .FP_SVG{
    top: 48px;
  }
  .workingModules__circles_price-title{
    top: 139px;
  }
}
@media screen and (max-width: 767px){
  .contact__tablet{
    padding-right: 42px;
  }
  .contact__aside{
    padding-right: 42px;
  }
}

@media screen and (max-width: 730px){
  .ex2app__technology_block_wMR{
    margin-right: 0;
  }
  .ex2app__technology{
    display: none;
  }
  .ex2app__technology_mobile{
    display: block;
  }
  .ex2app__technology_mobile-rowTop{
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    
      .ex2app__technology_block{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        div:first-child{
          display: flex;
          height: 60px;
        }
      }
  }
  
  .ex2app__technology_mobile-rowBottom{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .ex2app__technology_block{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      div:first-child{
        display: flex;
        height: 60px;
      }
    }
  }


  
}
@media screen and (max-width: 735px){
  .steps__scale_block{
    width: 100px;
  }
}
@media screen and (max-width: 723px){
  .workingModules__circles_price-title{
    top: 143px;
  }
  .FP_SVG{
    top:55px;
  }
}
@media screen and (max-width: 715px){
  .workingModules__circles_price{
    min-width: 235px;
    width: 235px;
    min-height: 235px;
    height: 235px;
  }
  .workingModules__circles_price-hover3{
    transform: translateX(calc(-50% + 200px));
  }
  .workingModules__circles_price-hover1{
    transform: translateX(calc(-50% - 200px));
  }
}
@media screen and (max-width: 667px){
  .workingModules__circles_price{
    min-width: 215px;
    width: 215px;
    min-height: 215px;
    height: 215px;
  }
  .workingModules__circles_price-hover1{
    transform: translateX(calc(-50% - 180px));
  }
  .workingModules__circles_price-hover3{
    transform: translateX(calc(-50% + 180px));
  }
  .FP_SVG{
    top: 35px;
  }
  .workingModules__circles_price-title{
    top: 125px;
  }
}
@media screen and (max-width: 662px){
  .steps__scale_block{
    width: 90px;
  }
}
@media screen and (max-width: 619px){
  .swiper-slide{
    width: 515px!important;
    height: 400px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 471px;
  }
  .swiper-slideTools{
    height: 470px;
  }
  .swiper-slideHeight{
    height: 366px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 361px;
  }
}
@media screen and (max-width: 605px){
  .workingModules__circles_price{
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
  }
  .workingModules__circles_price-hover1{
    transform: translateX(calc(-50% - 165px));
  }
  .workingModules__circles_price-hover3{
    transform: translateX(calc(-50% + 165px));
  }
}
@media screen and (max-width: 595px){
  .swiper-slide{
    width: 485px!important;
    height: 384px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 449px;
  }
  .swiper-slideTools{
    height: 443px;
  }
  .swiper-slideHeight{
    height: 344px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 338px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 341px;
  }
}
@media screen and (max-width: 580px){
  .workingModules__circles_price-hover3 svg{
    width: 65px;
    height: 65px;
  }
  .workingModules__circles_price-hover2 svg{
    width: 65px;
    height: 65px;
  }
  .workingModules__circles_price-hover1 svg{
    width: 65px;
    height: 65px;
  }
  .workingModules__circles_price-title{
    font-size: 20px;
    top: 109px;
  }
}
@media screen and (max-width: 576px){
  .burger__menu_iconsWrapper-linkedin{
    img{
      width: 20px;
    }
  }
  .we__title_faq1{
    margin-bottom: 10px;
  }
  .we__title_faq{
    display: inline-block;
  }
  .faq__QA{
    padding-top: 80px;
  }
  .projects__right{
    padding-top: 30px;
  }
  .projects__img_mt{
    margin-top: 31px;
  }
  .burger__menu_list{
    margin-top: 73px;
  }
  .contact__form_wrapper-mt1{
    margin-top: 16px;
  }
  .container-fluid{
    padding: 0 10px;
  }
  .faq__QA_faq-title{
    font-size: 18px;
  }
  .faq__QA_descr{
    font-size: 14px;
  }
  .header__container{
    padding: 0;
    padding-left: 10px;
  }
  .burger{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        cursor: pointer;
        width: 20px;
        &__first{
          width: 18px;
          height: 2px;
          background-color: #000000;
          margin-right: 1px;
        }
        &__second{
          width: 20px;
          height: 2px;
          background-color: #000000;
          margin: 3px 0;
        }
        &__third{
          width: 18px;
          height: 2px;
          background-color: #000000;
          margin-right: 1px;
        }
  }
  .header__puncts{
    display: none;
  }
  .workingModules__circles{
    display: none;
  }
  .workingModules__row{
    min-height: 1px;
  }
  .workingModules__circle_mobile{
    display: block;
  }
  .workingModules__circle_mobile-wrapper{
    margin: auto;
    margin-top: 28px;
  }
  .we__mapKyiv, .we__mapMinsk, .we__mapZp, .we__mapWarsaw, .we__map{
    right: -150px;
    bottom: 28px;
    width: 500px;
  }
  .promo__title{
    font-size: 32px;
  }
  .we__title{
    // padding-left: 17px;
    padding: 0;
  }
  .we__descr{
    margin-top: 16px;
    line-height: 150%;
    padding: 0;
  }
  .we__digit{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 47px;
    padding: 0;
  }
  .we__digit_20-tablet{
    margin-top: 0;
    padding: 0;
  }
  .we__focus_digits{
    margin: 42px 0;
  }
  .promo__container{
    max-width: 100%;
    padding: 0 10px;
  }
  .we__location{
    padding: 0;
  }
  .we__location{
    margin-top: 50px;
  }
  .we__digit_title{
    font-size: 24px;
  }
  .we__digit_subtitle{
    font-size: 14px;
  }
  .workingModules__title{
    padding: 0;
  }
  .workingModules__circle_mobile-price, .workingModules__circle_mobile-team, .workingModules__circle_mobile-clock{
    border: 3px solid #000000;
    border-radius: 50%;
    width: 241px;
    height: 241px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .circle1__mobile, .circle2__mobile, .circle3__mobile{
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
  }
  .workingModules__circle_mobile-price_text, .workingModules__circle_mobile-text, .workingModules__circle_mobile-clock_text{
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    font-family: 'Russo One', sans-serif;
  }
  .workingModules__circle_mobile-team{
    margin: -40px 0;
  }
  .workingModules__contact_row{
    padding-right: 0;
    justify-content: center;
  }
  .projectsType{
    padding-top: 73px;
  }
  .projectsType__wrapper{
    padding: 0;
  }
  .projectsType__wrapper_top{
    display: flex;
    flex-direction: column;
  }
  .projectsType__wrapper_top{
    margin-top: 36px;
  }
  .projectsType__wrapper_top-1, .projectsType__wrapper_top-2, .projectsType__wrapper_bottom-3, .projectsType__wrapper_bottom-4{
    width: 100%;
  }
  .projectsType__wrapper_bottom{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }
  .projectsType__wrapper_top-2{
    margin-top: 32px;
  }
  .projectsType__wrapper_bottom-4{
    margin-top: 32px;
  }
  .projectsType__wrapper_title{
    font-size: 24px;
  }
  .projectsType__wrapper_list{
    margin-top: 9px;
  }
  .stack{
    padding-top: 50px;
  }
  .steps__approach_row{
    padding-right: 0;
    justify-content: center;
  }
  .stack__stackTop_front, .stack__stackTop_back, .stack__stackBottom_mobile, .stack__stackBottom_design{
    border: none;
    width: 100%;
    padding: 0;
  }
  .stack__stackTop{
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .stack__stackBottom{
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .we__descr{
    margin-top: 0;
  }
  .stack__stackTop_front-svg, .stack__stackTop_back-svg, .stack__stackBottom_mobile-svg, .stack__stackBottom_design-svg{
    width: 60px;
    height: 60px;
    margin-top: -10px;
  }
  .stack__stackTop_back, .stack__stackBottom, .stack__stackBottom_design{
    margin-top: 16px;
  }
  .contact__tablet{
    padding-left: 15px;
  }
  .contact__title{
    padding-left: 0;
  }
  .contact__form{
    margin-top: 24px;
  }
  .contact{
    padding-top: 72px;
  }
  .contact__form_wrapper{
    flex-direction: column;
  }
  .contact__form_wrapper-input_ml{
    margin-left: 0;
  }
  .select2{
    margin-left: 0;
  }
  .contact__form_wrapper-divinput{
    width: 100%;
  }
  .contact__form_wrapper-mt{
    margin-top: 16px;
  }
  .contact__form_wrapper-btn{
    margin-top: 11px;
  }
  .contact__aside{
    padding-left: 15px;
    margin-top: 52px;
  }
  .faq__QA__title{
    font-size: 32px;
    text-align: center;
  }
  .ex2app__header{
    height: 223px;
    margin-top: 80px;
  }
  .ex2app__technology_row{
    padding-top: 42px;
  }
  .mouse-parallax{
    min-height: 191px;
    padding-top: 83px;
    padding-bottom: 72px;
  }
  .ex2app__longTitle{
    padding-left: 10px;
    padding-right: 10px;
  }
  .ex2app__development{
    margin-top: 20px;
  }
  .case__mobileInterfaces{
    .container-fluid{
      padding: 0;
    }
  }
  .case__mobileInterfaces_right{
    padding-left: 10px;
    padding-right: 0;
  }
  .ex2app__mobile_interfaces{
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .serpFarm__scoreTablet{
    display: none;
  }
  .serpFarm__scoreMobile{
    display: block;
  }
  .serpFarmstack__mobile{
    margin-top: 0;
  }
  .serpFarm__scoreTablet_firstRow-block{
    margin-right: 0;
    width: 40%;
  }
  .serpFarm__scoreTablet_firstRowLast{
    justify-content: flex-start;
  }
  .serpFarm__website_maket{
    display: none;
  }
  .serpFarm__website_maketDesctop{
    display: none;
    margin-top: 30px;
  }
  .serpFarm__website_maketMobile{
    margin-top: 30px;
    img{
      width: 95%;
    }
  }
  .serpFarm__website_maketDesctop{
    img{
      width: 100%;
    }
  }
  .serpFarm__website_maketMobile{
    display: flex;
    justify-content: center;
  }
  .serpFarm__steps_right:first-child{
    margin-top: 40px;
  }
  .serpFarm__tech_row{
    margin-top: 42px;
  }
  .serpFarm__scoreTablet_firstRow-img2{
    height: 71px;
  }
  .serpFarm_tabs_desck{
    display: block;
  }
  .block{
    width: 500px;
    right: -106px;
    bottom: 50px;
    height: 300px;
    img{
      height: 100%;
    }
    &__berlin{
      bottom: 123px;
      left: 199px;
    }
    &__warsaw{
      bottom: 114px;
      left: 241px;
    }
    &__minsk{
      bottom: 133px;
      left: 283px;
    }
    &__kyiv{
      bottom: 111px;
      left: 313px;
    }
    &__zp{
      bottom: 93px;
      left: 320px;
    }
    &__berlinText{
      bottom: 120px;
      left: 174px;
    }
    &__warsawText{
      bottom: 111px;
      left: 209px;
    }
    &__minskText{
      bottom: 130px;
      left: 258px;
    }
    &__kyivText{
      bottom: 108px;
      left: 295px;
    }
    &__zpText{
      bottom: 90px;
      left: 270px;
    }
  }
  .projectTor__we_title{
    padding-left: 10px!important;
  }
  .projectTor__contact-mt{
    margin-top: 10px;
  }
  .case__managerSide{
    transform: translateX(0)!important;
  }
  .serpFarm__video{
    height: 386px;
  }
  .wave{
    height: 200px;
    margin-top: -166px;
  }
  .glitch{
    font-size: 32px;
  }
  .promo__frameMobile{
    top: -147px;
  }
  .we__location{
    margin-bottom: 210px;
  }
  .block{
    right: -15px;
    bottom: 1000px;
  }
  .block__berlinText{
    bottom: -3px;
    left: -29px;
  }
  .block__warsawText{
    bottom: -3px;
    left: -34px;
  }
  .block__minskText{
    bottom: -3px;
    left: -27px;
  }
  .block__kyivText{
    bottom: -3px;
    left: -21px;
  }
  .block__zpText{
    bottom: -3px;
    left: -51px;
  }
  .workingModules{
    padding-top: 60px;
  }
  .circles__svg_mobile{
    width: 64px;
    height: 64px;
    margin-bottom: 14px;
  }
  .select{
    width: 100%;
  }
  .select2{
    width: 100%;
  }
  .contact__tablet{
    padding-right: 15px;
  }
  .promo{
    padding-top: 106px;
  }
  .wave .connecting-dots{
    height: 200px!important;
  }
  .we{
    padding-top: 0;
  }
  .promo{
    padding-bottom: 5px;
  }
  .steps{
    padding-bottom: 100px;
  }
  .steps__row{
    margin-bottom: 0;
  }
  .case__typografy_fonts-name_center{
    display: none;
  }
  .swiper-slide.swiper-slidePT-first{
    width: 152px!important;
    height: 279px;
  }
  .swiper-slidePT-first{
    margin-right: 0;
  }
  .swiper-slidePT-first_img{
    height: 92%;
  }
  .swiper-slidePT-third{
    margin-right: 15px;
    margin-left: 15px;
  }
  .serpFarm__scoreTablet_firstRow{
    justify-content: space-between;
  }
  .serpFarm__scoreTablet_firstRow{
    margin-top: 16px;
  }
  .serpFarm__scoreTablet_firstRow-img2{
    justify-content: center;
    img{
      width: 100px;
    }
  }
  .serpFarm__scoreTablet_firstRow-img{
    justify-content: center;
  }

}
@media screen and (max-width: 573px){
  .we{
    .wow{
      visibility: visible!important;
    }
  }
  .animate__rotateInUpLeft{
    animation: none;
  }
  .steps__scale_block{
    width: 75px;
  }
  .steps__scale_block-scope{
    height: 80px;
  }
  .steps__scale_block-scopeLast{
    height: 80px;
  }
  .steps__scale_block-evaluation{
    height: 60px;
    animation: termometr_branch 0.5s linear;
  }
  .steps__scale_block-UIUX{
    height: 60px;
    animation: termometr_branch 1s linear;
  }
  .steps__scale_block-solutuion{
    height: 60px;
    animation: termometr_branch 1.5s linear;
  }
  .steps__scale_block-testing{
    height: 60px;
    animation: termometr_branch 2s linear;
  }
  .steps__scale_block-verification{
    height: 60px;
    animation: termometr_branch 2.5s linear;
  }
  .steps__scale_block-scope_title{
    font-size: 10px;
    bottom: -106px;
  }
  .steps__scale_block-evaluation_title{
    font-size: 10px;
    top: -50px;
    animation: termometr_title 0.5s linear;
  }
  .steps__scale_block-UIUX_title{
    font-size: 10px;
    bottom: -106px;
    animation: termometr_title 1s linear;
  }
  .steps__scale_block-solutuion_title{
    font-size: 10px;
    top: -50px;
    animation: termometr_title 1.5s linear;
  }
  .steps__scale_block-testing_title{
    font-size: 10px;
    bottom: -106px;
    animation: termometr_title 2s linear;
  }
  .steps__scale_block-verification_title{
    font-size: 10px;
    top: -50px;
    animation: termometr_title 2.5s linear;
  }
  .steps__scale_block-scopeLast{
    animation: termometr_branch 3s linear;
  }
  .steps__scale_block-scopeLast_title{
    font-size: 10px;
    right: -2px;
    bottom: -106px;
    animation: termometr_title 3s linear;
  }
  .steps__scale{
    height: 20px;
  }
  .active{
    animation: termometr  3s linear
  }
  .animate__slideInUp{
    animation: none!important;
  }
}
@media screen and (max-width: 557px){
  .swiper-slide{
    width: 445px!important;
    height: 350px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 410px;
  }
  .swiper-slideTools{
    height: 407px;
  }
  .swiper-slideHeight{
    height: 317px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 312px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 313px;
  }
}
@media screen and (max-width: 520px){
  .swiper-slide{
    width: 400px!important;
    height: 322px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 372px;
  }
  .swiper-slideTools{
    height: 373px;
  }
  .swiper-slideHeight{
    height: 285px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 281px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 282px;
  }
}
@media screen and (max-width: 498px){
  .steps__scale_block{
    width: 65px;
  }
}
@media screen and (max-width: 478px){
  .swiper-slide{
    width: 374px!important;
    height: 301px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 352px;
  }
  .swiper-slideTools{
    height: 349px;
  }
  .swiper-slideHeight{
    height: 268px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 262px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 264px;
  }
}
@media screen and (max-width: 447px){
  .swiper-slide{
    width: 340px!important;
    height: 276px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 324px;
  }
  .swiper-slideTools{
    height: 319px;
  }
  .swiper-slideHeight{
    height: 243px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 239px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 239px;
  }
}
@media screen and (max-width: 443px){
  .steps__scale_block{
    width: 55px;
  }
}
@media screen and (max-width: 440px){
  .steps__scale_block-testing_title{
    left: -10px;
  }
}
@media screen and (max-width: 418px){
  .swiper-slide{
    width: 310px!important;
    height: 257px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 298px;
  }
  .swiper-slideTools{
    height: 292px;
  }
  .swiper-slideHeight{
    height: 220px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 218px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 218px;
  }
}
@media screen and (max-width: 412px){
  .block{
    right: -58px;
  }
}

@media screen and (max-width: 392px){
  .block{
    right: -70px;
  }
}
@media screen and (max-width: 387px){
  .swiper-slide{
    width: 285px!important;
    height: 232px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 276px;
  }
  .swiper-slideTools{
    height: 274px;
  }
  .swiper-slideHeight{
    height: 203px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 204px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 204px;
  }
}
@media screen and (max-width: 373px){
  .steps__scale_block{
    width: 50px;
  }
  .steps__scale_block-testing_title{
    left: -15px;
  }
  .swiper-slide.swiper-slide_ex2Second{
    width: 96px!important;
    height: 231px;
  }
  .swiper-slide__ex2First{
    margin-left: 10px;
  }
  .swiper-slide.swiper-slide_ex2Second{
    margin-left: 10px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 365px){
  .swiper-slide{
    width: 259px!important;
    height: 217px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 250px;
  }
  .siteManager__slider2{
    margin-top: 35px;
  }
  .swiper-slideTools{
    height: 256px;
  }
  .swiper-slideHeight{
    height: 185px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 186px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 186px;
  }
}
@media screen and (max-width: 355px){
  .steps__scale_block{
    width: 45px;
  }
}
@media screen and (max-width: 350px){
  .block{
    right: -100px;
  }
}
@media screen and (max-width: 349px){
  .swiper-slide{
    width: 239px!important;
    height: 204px;
  }
  .siteManager__slider2_lastTools .swiper-slide{
    height: 234px;
  }
  .swiper-slideTools{
    height: 240px;
  }
  .swiper-slideHeight{
    height: 171px;
  }
  .swiper-slide.swiper-slidePT-third{
    height: 176px;
  }
  .swiper-slide__ex2First_moreH img{
    height: 176px;
  }
}
@media screen and (max-width: 320px){
  .steps__scale_block{
    width: 42px;
  }
}
// @media screen and (max-width: 450px){
//   .serpFarm__video{
//     height: 286px;
//   }
// }

@media screen and (max-height: 320px) and (orientation: landscape) {
  .burger__menu_iconsWrapper{
    margin-top: 25px;
  }
  .burger__menu_list{
    margin-top: 16px;
  }
}
@media screen and (max-height: 375px) and (orientation: landscape) {  
  .case__header{
    height: 334px;
  }
}

@media screen and (max-width: 1240px){
  .mathisonWeb__icons-main_left-wrapper div{
    margin-right: 40px;
  }
  .mathisonWeb__icons-main_right-wrapper div{
    margin-right: 40px;
  }
  .mathisonWeb__colors_main .mathisonWeb__colors_block{
    margin-right: 25px;
  }
}
@media screen and (max-width: 1071px){
  .mathisonWeb__icons-main_left-wrapper div{
    margin-right: 20px;
  }
  .mathisonWeb__icons-main_right-wrapper div{
    margin-right: 20px;
  }
  .mathisonWeb__colors_main .mathisonWeb__colors_block{
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px){
  .mathisonWeb__icons-main{
    margin-top: 30px;
  }
  .mathisonWeb__icons-main_left-wrapper div{
    margin-right: 60px;
  }
  .mathisonWeb__icons-main_right-wrapper div{
    margin-right: 60px;
  }
  .mathisonWeb__colors_main{
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
}
@media screen and (max-width: 912px){
  .mathisonWeb__icons-main_left-wrapper div{
    margin-right: 40px;
  }
  .mathisonWeb__icons-main_right-wrapper div{
    margin-right: 40px;
  }
}
@media screen and (max-width: 802px){
  .mathisonWeb__icons-main_left-wrapper div{
    margin-right: 30px;
  }
  .mathisonWeb__icons-main_right-wrapper div{
    margin-right: 30px;
  }
}
@media screen and (max-width: 839px){
  .case__colors_circles-circle1{
    width: 100px;
    height: 100px;
  }
  .case__colors_circles-circle2{
    width: 100px;
    height: 100px;
  }
  .case__colors_circles-circle3{
    width: 100px;
    height: 100px;
  }
  .case__colors_circles-circle4{
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 769px){
  .ex2app__technology_row{
    padding-top: 0;
  }
}

@media screen and (max-width: 768px){
  .case__colors_lastBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .case__colors_circles-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .case__colors_circles-circle1{
    width: 90px;
    height: 90px;
  }
  .case__colors_circles-circle2{
    width: 90px;
    height: 90px;
  }
  .case__colors_circles-circle3{
    width: 90px;
    height: 90px;
  }
  .case__colors_circles-circle4{
    width: 90px;
    height: 90px;
  }
  .case__colors_circles-block{
    margin-right: 30px;
  }
  .case__icons_left-wrapper div{
    margin-right: 2px;
    img{
      width: 100%;
    }
  }
  .case__icons_right-wrapper div{
    margin-right: 2px;
    img{
      width: 100%;
    }
  }
  .siteManager__tech_wrapper{
    justify-content: center;
  }
  .case__userFlow_fluid-block_img{
    height: 614px;
  }
  .mathisonPlugin__tech_wrapper{
    padding-left: 51px;
  }
}

@media screen and (max-width: 743px){
  .termometr__wrapper_block{
    width: 95px;
  }
  .termometr__wrapper_block-second{
    left: 95px;
  }
  .termometr__wrapper_block-third{
    left: 190px;
  }
  .termometr__wrapper_block-fourth{
    left: 285px;
  }
  .termometr__wrapper_block-fifth{
    left: 380px;
  }
  .termometr__wrapper_block-sixth{
    left: 475px;
  }
  .twbt-eva{
    left: 95px;
  }
  .twbt-UIUX{
    left: 190px;
  }
  .twbt-solut{
    left: 285px;
  }
  .twbt-test{
    left: 380px;
  }
  .twbt-ver{
    left: 475px;
  }
}

@media screen and (max-width: 669px){
  .siteManager__tech_wrapper-center{
    margin: 0 100px;
  }
}
@media screen and (max-width: 638px){
  .siteManager__tech_wrapper-center{
    margin: 0 75px;
  }
}
@media screen and (max-width: 628px){
  .wave .connecting-dots{
    margin-top: 0;
    height: 308px !important;
  }
  .promo__frame{
    bottom: -29px;
  }
}
@media screen and (max-width: 621px){
  .case__icons_wrapper{
    flex-direction: column;
  }
  .case__colors_circles-circle1{
    width: 80px;
    height: 80px;
  }
  .case__colors_circles-circle2{
    width: 80px;
    height: 80px;
  }
  .case__colors_circles-circle3{
    width: 80px;
    height: 80px;
  }
  .case__colors_circles-circle4{
    width: 80px;
    height: 80px;
  }
  .case__colors_circles-text{
    font-size: 13px;
  }
  .case__time_descr a{
    font-size: 30px;
  }
}

@media screen and (max-width: 618px){
  .termometr__wrapper_blockActive{
    animation: termometr_blockActive 3s linear;
  }
  .termometr__wrapper_block{
    width: 75px;
  }
  .termometr__wrapper_block-second{
    left: 75px;
    animation: termometr__branchActive 0.5s linear;
  }
  .termometr__wrapper_block-third{
    left: 150px;
    animation: termometr__branchActive 1s linear;
  }
  .termometr__wrapper_block-fourth{
    left: 225px;
    animation: termometr__branchActive 1.5s linear;
  }
  .termometr__wrapper_block-fifth{
    left: 300px;
    animation: termometr__branchActive 2s linear;
  }
  .termometr__wrapper_block-sixth{
    left: 375px;
    animation: termometr__branchActive 2.5s linear;
  }
  .termometr__wrapper_block-finish{
    animation: termometr__branchActive 3s linear;
  }
  .twbt-eva{
    left: 75px;
    animation: termometr__titleActive 0.5s linear;
  }
  .twbt-UIUX{
    left: 150px;
    animation: termometr__titleActive 1s linear;
  }
  .twbt-solut{
    left: 225px;
    animation: termometr__titleActive 1.5s linear;
  }
  .twbt-test{
    left: 300px;
    animation: termometr__titleActive 2s linear;
  }
  .twbt-ver{
    left: 375px;
    animation: termometr__titleActive 2.5s linear;
  }
  .twbt-finish{
    animation: termometr__titleActive 3s linear;
  }
}

@media screen and (max-width: 568px){
  .case__banner_descktop-wrapper{
    display: none;
  }
  .swiper-slidePT-first{
    margin-right: 0px;
  }
  .case__header_header{
    background: transparent;
    &:hover{
      background: transparent;
    }
  }
  .case__info{
    margin-top: 0;
  }
  .case__header{
    height: 223px;
  }
  .case__header{
    background: none;
    background: url(../img/images/energy1.png) center center / cover no-repeat;
  }
  .case__info_name{
    font-size: 32px;
  }
  .case__info_descr{
    margin-top: 20px;
  }
  .case__technology{
    padding-top: 42px;
  }
  .case__technology_descr{
    flex-wrap: wrap;
  }
  .case__technology_descr-stack{
    width: 50%;
  }
  .case__time{
    padding-top: 67px;
  }
  .case__time_descr{
    padding-left: 0;
    font-size: 24px;
  }
  .case__time_descr a{
    font-size: 24px;
  }
  .case__time_descr-mini{
    margin-top: 20px;
    padding: 0;
  }
  .case__banner_descktop{
    display: none;
  }
  .case__banner_mobile{
    display: block;
  }
  .case__mobileInterfaces{
    padding-top: 47px;
  }
  .steps__click_wrapper-left, .steps__click_wrapper-right{
    display: none;
  }
  .case__desktopInterfaces_title{
    padding-left: 10px;
  }
  .case__userFlow_title{
    padding-left: 0px!important;
  }
  .case__colors_circles{
    flex-direction: column;
  }
  .case__colors_circles-block{
    margin-right: 0;
  }
  .case__colors_circles-circle1{
    width: 130px;
    height: 130px;
  }
  .case__colors_circles-circle2{
    width: 130px;
    height: 130px;
    margin-top: 66px;
  }
  .case__colors_circles-circle3{
    width: 130px;
    height: 130px;
    margin-top: 66px;
  }
  .case__colors_circles-circle4{
    width: 130px;
    height: 130px;
    margin-top: 66px;
  }
  .case__colors_circles-text{
    font-size: 16px;
  }
  .case__typografy_title-title{
    margin-top: 8px;
    padding-left: 0;
  }
  .case__typografy_fonts-name_center{
    display: none;
  }
  .case__typografy_fonts{
    align-items: flex-start;
    justify-content: unset;
  }
  .case__typografy_fonts-name{
    width: 80%;
    margin-left: 43px;
  }
  .case__icons{
    padding-top: 110px;
  }
  .case__other{
    padding-top: 63px;
  }
  .case__other_title{
    margin-bottom: 16px;
  }
  .select{
    width: 100%;
    select{
      width: 100%;
    }
  }
  .select2{
    width: 100%;
    select{
      width: 100%;
    }
  }
  .header, .case__header_header{
    background: #fff;
    &:hover{
      background: #fff;
    }
  }
  .case__icons_left-wrapper div{
    margin-right: 4px;
  }
  .case__icons_right-wrapper div{
    margin-right: 4px;
  }
  .glitch{
    font-size: 32px;
  }
  .case__typografy_title-title{
    display: none;
  }
  .case__typografy_fonts-name{
    margin-top: 83px;
  }
}

@media screen and (max-width: 565px){
  .siteManager__tech_wrapper-firstRowSM{
    width: 95px;
  }
}

@media screen and (max-width: 527px){
  .siteManager__tech_wrapper-center{
    margin: 0 55px;
  }
}

@media screen and (max-width: 461px){
  .siteManager__tech_wrapper{
    display: none;
  }
  .siteManager__tech_wrapperSM{
    display: block;
    margin-top: 33px;
  }
  .siteManager__tech_wrapper-second{
    margin-top: 0;
  }
  .siteManager__tech_wrapper-firstRowSM{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .siteManager__tech_wrapper-firstRowSM_block{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .serpFarm__firstRow_block-title{
    text-align: center;
  }
  .siteManager__tech_wrapper-firstRowSM_mt{
    margin-top: 23px;
  }
}


@media screen and (max-width: 450px){
  .serpFarm__video{
    height: 286px;
  }
}
@media screen and (max-width: 380px){
  .case__typografy_fonts_title{
    margin-right: 8px;
  }
}
@media screen and (max-width: 376px){
  .serpFarm__video{
    height: 186px;
  }
}
@media screen and (max-width: 340px){
  .case__typografy_title{
    left: -36px;
  }
}
@media screen and (max-width: 486px){
  .termometr__wrapper_block{
    width: 60px;
  }
  .termometr__wrapper_block-second{
    left: 60px;
  }
  .termometr__wrapper_block-third{
    left: 120px;
  }
  .termometr__wrapper_block-fourth{
    left: 180px;
  }
  .termometr__wrapper_block-fifth{
    left: 240px;
  }
  .termometr__wrapper_block-sixth{
    left: 300px;
  }
  .twbt-eva{
    left: 60px;
  }
  .twbt-UIUX{
    left: 120px;
  }
  .twbt-solut{
    left: 180px;
  }
  .twbt-test{
    left: 240px;
  }
  .twbt-ver{
    left: 300px;
  }
}
@media screen and (max-width: 408px){
  .termometr__wrapper_block{
    width: 55px;
  }
  .termometr__wrapper_block-second{
    left: 55px;
  }
  .termometr__wrapper_block-third{
    left: 110px;
  }
  .termometr__wrapper_block-fourth{
    left: 165px;
  }
  .termometr__wrapper_block-fifth{
    left: 220px;
  }
  .termometr__wrapper_block-sixth{
    left: 275px;
  }
  .twbt-eva{
    left: 55px;
  }
  .twbt-UIUX{
    left: 110px;
  }
  .twbt-solut{
    left: 165px;
  }
  .twbt-test{
    left: 220px;
  }
  .twbt-ver{
    left: 275px;
  }
  .termometr__wrapper_block-title{
    font-size: 10px;
    width: 80px;
  }
  .twbt-finish{
    width: 60px;
  }
}


@media screen and (max-width: 366px){
  .termometr__wrapper_block{
    width: 45px;
  }
  .termometr__wrapper_block-second{
    left: 45px;
  }
  .termometr__wrapper_block-third{
    left: 90px;
  }
  .termometr__wrapper_block-fourth{
    left: 135px;
  }
  .termometr__wrapper_block-fifth{
    left: 180px;
  }
  .termometr__wrapper_block-sixth{
    left: 225px;
  }
  .twbt-eva{
    left: 45px;
  }
  .twbt-UIUX{
    left: 90px;
  }
  .twbt-solut{
    left: 135px;
  }
  .twbt-test{
    left: 180px;
  }
  .twbt-ver{
    left: 225px;
  }
  .termometr__wrapper_block-title{
    font-size: 10px;
    width: 80px;
  }
  .twbt-finish{
    width: 60px;
  }
}
@media screen and (max-width: 360px){
  .swiper-slide.swiper-slidePT-first{
    width: 136px!important;
    height: 257px;    
  }
}
@media screen and (max-width: 320px){
  .termometr__wrapper_block{
    width: 37px;
  }
  .termometr__wrapper_block-second{
    left: 37px;
  }
  .termometr__wrapper_block-third{
    left: 74px;
  }
  .termometr__wrapper_block-fourth{
    left: 111px;
  }
  .termometr__wrapper_block-fifth{
    left: 148px;
  }
  .termometr__wrapper_block-sixth{
    left: 185px;
  }
  .twbt-eva{
    left: 37px;
  }
  .twbt-UIUX{
    left: 74px;
  }
  .twbt-solut{
    left: 111px;
  }
  .twbt-test{
    left: 132px;
  }
  .twbt-ver{
    left: 185px;
  }
  .termometr__wrapper_block-title{
    font-size: 10px;
    width: 80px;
  }
  .twbt-finish{
    width: 60px;
  }
}


@media screen and (max-width: 576px){
  .wave .connecting-dots{
    margin-top: 59px;
    height: 190px!important;
  }
  .wave{
    height: 260px!important;
  }
  .promo__title{
    margin-top: -90px;
  }
  .swiper-slide.swiper-slide_ex2Second{
    width: 161px!important;
    height: 359px;
  }
  .ex2app__technology_row{
    margin-top: 0;
  }
  .ex2app__development{
    margin-top: 13px;
  }
  .mathisonPlugin__tech_wrapper{
    display: none;
  }
  .mathisonPlugin__tech_wrapper-mobile{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .mathisonPlugin__tech-mobile{
    display: block;
  }
  .mathisonPlugin__tech-mobile{
    width: 100%;
  }
  .mathisonPlugin__tech_wrapper-mobile{
    margin-top: 25px;
  }
  .mathisonPlugin__case_descr, .mathisonPlugin__case_descr2{
    margin-top: 20px;
  }
  .mathisonPlugin__interfaces_wrapper{
    display: none;
  }
  .mathisonPlugin__slider{
    display: block;
  }
  .mathisonPlugin__slider{
    margin-top: 20px;
  }
  .serpFarm__other{
    margin-top: 58px;
  }
  .mathisonPlugin__case_descr, .mathisonPlugin__case_descr2{
    font-size: 13px;
  }

}
@media screen and (max-width: 521px){
  .ex2app__paralax img{
    min-width: 782px;
  }
}


@media screen and (max-width: 456px){
  .wave .connecting-dots{
    margin-top: 0;
  }
  .wave{
    height: 196px!important;
  }
  .swiper-slide.swiper-slide_ex2Second{
    width: 120px!important;
    height: 281px;
  }
}
@media screen and (max-width: 420px){
  .ex2app__paralax img{
    min-width: 682px;
  }
}
@media screen and (max-width: 400px){
  .without__paralax img{
    width: 213px;
  }
}

@media screen and (max-width: 378px){
  .ex2app__paralax img{
    min-width: 582px;
  }
}

@media screen and (max-width: 342px){
  .ex2app__technology_mobile-rowTop .ex2app__technology_block{
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 372px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 463px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 499px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 415px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 468px;
  }
  .mathisonWeb__download{
    font-size: 17px;
  }

  .mathisonWeb__icons-main{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .mathisonWeb__icons-main_right-wrapper, .mathisonWeb__icons-main_left-wrapper{
    margin-top: 0;
  }
  .mathisonWeb__icons-main_right-wrapper .mathisonWeb__icons-main_right-wrapper_lc {
    margin-right: 30px;
  }
  .mathisonWeb__icons-main{
    margin-top: 30px;
  }
  .mathisonWeb__icons-main_left-wrapper{
    margin-top: 30px;
  }
  .mathisonWeb__icons-main_right-wrapper:first-child{
    margin-top: 30px;
  }
  .mathisonWeb__icons-main_right-wrapper{
    margin-top: 30px;
  }
  .mthisonWeb_mobilelc{
    margin-right: 0!important;
  }
  .mathisonWeb__icons-main_left-wrapper div{
    margin-right: 20px;
  }
  .mathisonWeb__icons-main_right-wrapper div{
    margin-right: 20px;
  }
  .mathisonWeb__icons{
    margin-top: 90px;
  }

  .mathisonWeb__colors_main{
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
  }
  .mathisonWeb_green, .mathisonWeb_yellow, .mathisonWeb_black{
    margin-top: 24px;
  }
}
@media screen and (max-width: 576px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 310px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 411px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 376px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 348px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 384px;
  }
  .mathisonWeb__download{
    font-size: 14px;
  }
  .mathisonWeb__colors_main{
    flex-direction: column;
  }
  .mathisonWeb_blue, .mathisonWeb_green, .mathisonWeb_yellow, .mathisonWeb_black{
    margin-top: 15px;
  }
  .mathisonWeb__colors_main .mathisonWeb__colors_block{
    margin-right: 0;
  }
}
@media screen and (max-width: 701px){
  .mathisonWeb__colors_main{
    flex: 0 0 60%;
    max-width: 60%;
  }
}
@media screen and (max-width: 619px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 351px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 440px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 470px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 395px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 439px;
  }
}
@media screen and (max-width: 595px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 333px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 412px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 442px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 372px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 412px;
  }
  .mathisonWeb__colors_main{
    flex: 0 0 70%;
    max-width: 70%;
  }
}
@media screen and (max-width: 557px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 306px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 380px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 410px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 344px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 378px;
  }
}
@media screen and (max-width: 520px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 280px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 340px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 370px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 314px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 344px;
  }
}
@media screen and (max-width: 478px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 264px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 320px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 350px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 295px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 323px;
  }
}

@media screen and (max-width: 447px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 238px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 290px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 320px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 271px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 297px;
  }
}
@media screen and (max-width: 418px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 221px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 265px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 295px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 249px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 269px;
  }
}
@media screen and (max-width: 387px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 205px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 245px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 275px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 230px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 254px;
  }
}
@media screen and (max-width: 365px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 188px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 220px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 250px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 215px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 234px;
  }
}
@media screen and (max-width: 349px){
  .mathisonWeb .siteManager__slider1 .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 176px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-big{
    height: 205px;
  }
  .mathisonWeb .siteManager__slider2 .swiper-container .swiper-wrapper .swiper-slide{
    height: 235px;
  }
  .mathisonWeb .siteManager__slider-pdfReport .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 199px;
  }
  .mathisonWeb .siteManager__slider-adminSide .row .swiper-container .swiper-wrapper .swiper-slide{
    height: 218px;
  }
}
@media screen and (max-width: 335px){
  .mathisonWeb__icons-main_left-wrapper div{
    margin-right: 10px;
  }
  .mathisonWeb__icons-main_right-wrapper div{
    margin-right: 10px;
  }
}
@media screen and (min-width: 1921px){
  .block{
    display: none;
  }
  .block-big{
    display: block;
    bottom: -125px;
    right: -584px;
  }
}