.projectsType{
    padding: 160px 0 0 0;
    &__wrapper{
        // display: flex;
        // align-items: flex-start;
        &_top{
            display: flex;
            align-items: flex-start;
            &-1{
                width: 450px;
            }
        }
        &_bottom{
            margin-top: 161px;
            display: flex;
            align-items: flex-start;
            &-3{
                width: 450px;
            }
        }
        &_digit{
            font-size: 20px;
            line-height: 130%;
            color: #FF0000;
        }
        &_title{
            font-size: 32px;
            line-height: 130%;
            color: #000000;
            font-family: 'Russo One', sans-serif;
        }
        &_list{
            margin-top: 22px;
            &-item{
                font-size: 16px;
                line-height: 130%;
                color: #000000;
            }
        }
    }
}
.projectsType__wrapper_top-1{
    &:hover{
        .projectsType__wrapper_list-item_topLeft1{
            animation: trembling  .3s ease-in-out;
        }
        .projectsType__wrapper_list-item_topLeft2{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.1s;
        }
        .projectsType__wrapper_list-item_topLeft3{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.2s;
        }
    }
}
.projectsType__wrapper_top-2{
    &:hover{
        .projectsType__wrapper_list-item_topRight1{
            animation: trembling  .3s ease-in-out;
        }
        .projectsType__wrapper_list-item_topRight2{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.1s;
        }
        .projectsType__wrapper_list-item_topRight3{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.2s;
        }
    }
}
.projectsType__wrapper_bottom-3{
    &:hover{
        .projectsType__wrapper_list-item_bottomLeft1{
            animation: trembling  .3s ease-in-out;
        }
        .projectsType__wrapper_list-item_bottomLeft2{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.1s;
        }
    }
}
.projectsType__wrapper_bottom-4{
    &:hover{
        .projectsType__wrapper_list-item_bottomRight1{
            animation: trembling  .3s ease-in-out;
        }
        .projectsType__wrapper_list-item_bottomRight2{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.1s;
        }
        .projectsType__wrapper_list-item_bottomRight3{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.2s;
        }
        .projectsType__wrapper_list-item_bottomRight4{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.3s;
        }
        .projectsType__wrapper_list-item_bottomRight5{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.4s;
        }
        .projectsType__wrapper_list-item_bottomRight6{
            animation: trembling  .3s ease-in-out;
            animation-delay: 0.5s;
        }
    }
}