.projects{
    padding: 188px 0 0 0;
    &__link{
        &:hover{
            text-decoration: none;
        }
    }
    &__products{
        margin-top: 21px;
    }
    &__left{
        margin-top: 71px;
    }
    &__hover{
        overflow: hidden;
        transition: .5s all;
        cursor: pointer;
        &:hover{
            .projects__img{
                transform: scale(1);
                transition: 1s all;
            }
            .projects__img_wrapper-title{
                color: #ff0000;
                transition: .5s all;
            }
            .projects__img_wrapper svg path{
                transition: .5s all;
                fill: #ff0000;
            }
        }
    }
    &__wrapper{
        display: flex;
        align-items: center;
        &_title{
            font-size: 16px;
            line-height: 130%;
            color: #E5E5E5;
            font-weight: 400;
            text-transform: lowercase;
            width: 100px;
            cursor: pointer;
            &-active{
                color: #FF0000!important;
            }
        }
        &_digit{
            font-size: 16px;
            line-height: 130%;
            color: #E5E5E5;
            text-transform: lowercase;
            cursor: pointer;
            &-active{
                color: #FF0000;
            }
        }
    }
    &__img{
        transform: scale(1.2);
        transition: 1s all;
        &_mt{
            margin-top: 200px;
        }
        &_wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            &-title{
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                color: #000000;
                transition: .5s all;
            }
            svg{
                path{
                    transition: .3s all;
                }
            }
        }
    }
}

.projects__productsMobile{
    display: none;
}

.projects__hover_over{
    overflow: hidden;
}
.projects__img{
    width: 100%;
}
.projects__left{
    margin-top: 31px;
}
.projects__right{
    padding-top: 200px;
}