.wave{
  height: 446px;
  overflow: hidden;
  margin-top: -310px;
}
.connecting-dotsconnecting-dots{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; 
}

.promo{
    // padding: 146px 0px;
    padding-top: 146px;
    // background: url(../img/images/waveDots.svg) center center;
    // background: url(../img/images/gif.gif) center center;
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    // background-size: 100vw 90%;
    // overflow: auto;

    &__frame{
        position: absolute;
        bottom: -30px;
        right: 35%;
        transform: translateX(50%);
        z-index: 0;
    }
    &__container{
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__title{
        font-family: 'Russo One', sans-serif;
        font-size: 60px;
        line-height: 130%;
        color: #000000;
        span{
            font-family: 'Russo One', sans-serif;
            color: #ff0000;
        }
    }
}

.promo__frameMobile{
    display: none;
}
.projects__productsMobile_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.glitch{
    color:#ff0000;
    font-size: 60px;
    position:relative;
    display: inline-block;
  }
  @keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:after{
    content:attr(data-text);
    position:absolute;
    left:2px;
    text-shadow:-1px 0 red;
    top:0;
    color:#ff0000;
    background:transparent;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:before{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow:1px 0 blue; 
    top:0;
    color:#ff0000;
    background:transparent;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim-2 3s infinite linear alternate-reverse;
  }