.serpFarm{
    &__header{
        background: url(../img/serpFarm/serpfarmHeader.png) center center / cover no-repeat;
    }
    &__promo{
        &_descr{
            margin-top: 41px;
        }
    }
    &__tech{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 148px;
        text-align: center;
        &_row{
            margin-top: 113px;
        }
    }
    &__firstRow{
        margin-top: 85px;
        display: flex;
        &_block{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-content: flex-start;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
            &-img{
                height: 72px;
                display: flex;
                align-items: center;
                width: 100%;
            }
            &-title{
                font-size: 16px;
                line-height: 130%;
                text-align: left;
                text-transform: lowercase;
                color: #000000;
                width: 100%;
            }
        }
    }
    &__secondRow{
        margin-top: 76px;
    }
    &__steps{
        margin-top: 90px;
        &_wrapper{
            display: flex;
        }
        &_left{
            position: relative;
            box-shadow: 0px 18px 36px -24px rgba(0, 0, 0, 0.1);
            margin-top: 40px;
            &:hover{
                .serpFarm__steps_left-circle{
                    opacity: 1;
                    transition: .3s all;
                }
            }
            &:first-child{
                margin-top: 0;
            }
            img{
                width: 100%;
            }
            &-circle{
                position: absolute;
                top: 13px;
                right: 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #ff0000;
                cursor: pointer;
                opacity: 0;
                transition: .3s all;
                img{
                    width: 10px;
                    height: 10px;
                }
            }
        }
        &_right{
            position: relative;
            box-shadow: 0px 18px 36px -24px rgba(0, 0, 0, 0.1);
            margin-top: 40px;
            &:hover{
                .serpFarm__steps_left-circle{
                    opacity: 1;
                    transition: .3s all;
                }
            }
            &:first-child{
                margin-top: 70px;
            }
            img{
                width: 100%;
            }
        }
    }
    &__video{
        width: 100%;
        height: 540px;
        &_container{
            margin-top: 159px;
            padding-right: 0;
        }
    }
    &__click{
        &_wrapper{
            margin-top: 0;
        }
        &_row{
            margin-top: 68px;
        }
    }
    &__website{
        margin-top: 121px;
        &_maket{
            img{
                max-width: 893px;
                width: 100%;
            }
        }
    }
    &__other{
        margin-top: 143px;
    }
    &__popup{
        width: 558px;
        height: 558px;
        max-width: 558px;
        max-height: 558px;
        // border: 3px solid black;
        background: transparent;
        overflow: auto;
        &_wrapper{
            width: 578px;
            height: 622px;
            max-width: 578px;
            max-height: 622px;
            position: relative;
        }
        &_close{
            position: absolute;
            width: 24px;
            height: 24px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background: #ff0000;
            top: -22px;
            right: -2px;
            cursor: pointer;
        }
    }
}
.test1{
    display: flex;   
}
.test2{
    display: flex;
}
.pelena{
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    // backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: none;
    z-index: 100;
}


.pelena_pop{
    position: fixed;
    top: calc(50vh + 80px);
    left: 50vw;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    transition: .3s all;
}
.pelena_pop-active{
    transition: .3s all;
    opacity: 1;
    z-index: 100;
}

#imagine{
    width: 100%;
}
.header__serpActive{
    transition: .3s all;
    background: rgba(255,255,255,1);
    // backdrop-filter: blur(15px);
    &:hover{
        background: rgba(255,255,255,1);
    }
}

.serpFarm__scoreTablet, .serpFarm__scoreMobile{
    display: none;
}
.serpFarm__website_maketMobile{
    display: none;
}
.serpFarm__website_maketDesctop{
    display: none;
}
.serpFarm_tabs_desck{
    display: none;
}


.serpFarm__popup-slider{
    width: 558px;
    max-height: 600px;
    background-color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.hero-sliderPop .flickity-page-dots{
    display: block;
}

.hero-sliderPop .flickity-button{
    display: block;
}
.hero-sliderPop .hero-slider-item{
    width: 100%;
    left: 0;
}
.hero-sliderPop .hero-slider-item img{
    max-height: 585px;
}
.hero-sliderPop .flickity-page-dots .dot{
    background: #ffffff;
    opacity: 1;
    width: 6px;
    height: 6px;
    transition: .3s all;
    // margin-bottom: 10px;
}
.hero-sliderPop .flickity-page-dots .is-selected{
    background: #ff0000!important;
    opacity: 1;
    width: 8px;
    height: 8px;   
    transition: .3s all;
}
.hero-sliderPop .flickity-page-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sliderPop .flickity-prev-next-button{
    background-color: transparent;
}

.hero-sliderPop .flickity-prev-next-button .flickity-button-icon{
    width: 32px;
    height: 32px;
}
.popup-slider{
    z-index: -1;
    position: fixed;
    top: 53vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
}
.serpFarm__iframe{
    z-index: 0;
}

.flickity-button-icon{
    fill: #ffffff;
}
.hero-sliderPop .flickity-prev-next-button.previous{
    left: 260px;
}
.hero-sliderPop .flickity-prev-next-button.next{
    right: 260px;
}

.hero-sliderPop .flickity-viewport{
    overflow: inherit;
}

.popup-slider_close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: -26px;
    right: -24px;
    cursor: pointer;
}
.swiper-wrapper-SF .swiper-slide img{
    width: 100%;
}


.swiper-container-SF .swiper-slide{
    width: 100%!important;
    display: flex;
    justify-content: center;
    margin-right: 0;
}
.slider__sf{
    // display: none;
    // position: fixed;
    // top: 50%;
    // transform: translateY(-50%);
    // z-index: 100;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    transition: .3s all;
}


.serpFarm__pelena{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: none;
}



.sup{
    display: block;
}

.prive{
    z-index: -1;
    opacity: 0;
}
.prive .swiper-button-next{
    position: fixed;
}
.prive .swiper-button-prev{
    position: fixed;
}
.prive .swiper-wrapper{
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
}
.prive .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 2px)!important;
    border: 1px solid transparent;
    margin-right: 0!important;
}
.sup__close{
    display: none;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    transform: translateX(-50%);
    // transform: translate(-50%, -50%);
    &_1{
        left: calc(50% + 195px);
        top: 50px;
    }
    &_2{
        left: calc(150% + 195px);
        top: 134px;
    }
    &_3{
        left: calc(250% + 195px);
        top: -42px;
    }
    &_4{
        left: calc(350% + 195px);
        top: 110px;
    }
    &_5{
        left: calc(450% + 195px);
        top: 80px;
    }
    &_6{
        left: calc(550% + 196px);
        top: 48px;
    }
    &_7{
        left: calc(650% + 196px);
        top: -26px;
    }
    &_8{
        left: calc(750% + 196px);
        top: 106px;
    }
    &_9{
        left: calc(850% + 196px);
        top: 106px;
    }
    &_10{
        left: calc(950% + 196px);
        top: 105px;
    }
}
