.siteManager{
    &__header{
        background: #b2b2b2 url(../img/siteManager/img/siteManager_main.png) center center / cover no-repeat;
    }
    &__tech{
        &_wrapper{
            display: flex;
            &-center{
                margin: 0 150px 0 195px;
            }
            &-firstRow{
                &_img{
                    height: 67px;
                }
            }
            &-second{
                margin-top: 80px;
            }
        }
    }
    &__span{
        font-family: 'Russo One', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.05em;
        color: #ff0000;
    }
    &__descktop{
        &-enter{
            margin-top: 179px;
        }
    }
    &__slider2{
        margin-top: 91px;
    }
}

.hero-sliderSiteEnter{
    margin-top: 14px;
}

.hero-sliderSiteEnter .hero-slider-item{
    width: 748px;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.hero-sliderSiteEnter .hero-sliderSiteEnter-empty{
    width: 24%;
    border: none;
}




.hero-sliderSiteEnter .flickity-page-dots{
    display: block;
}

.hero-sliderSiteEnter .flickity-button{
    display: block;
}
.hero-sliderSiteEnter .flickity-page-dots .dot{
    background: #E5E5E5;
    opacity: 1;
    width: 6px;
    height: 6px;
    transition: .3s all;
    // margin-bottom: 10px;
}
.hero-sliderSiteEnter .flickity-page-dots .is-selected{
    background: #ff0000!important;
    opacity: 1;
    width: 8px;
    height: 8px;   
    transition: .3s all;
}
.hero-sliderSiteEnter .flickity-page-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}


//slider1
.hero-sliderSiteEnter1{
    margin-top: 14px;
}
.hero-sliderSiteEnter1 .hero-slider-item{
    width: 748px;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.hero-sliderSiteEnter1 .hero-sliderSiteEnter-empty{
    width: 24%;
    border: none;
}
.hero-sliderSiteEnter1 .flickity-page-dots{
    display: block;
}

.hero-sliderSiteEnter1 .flickity-button{
    display: block;
}
.hero-sliderSiteEnter1 .flickity-page-dots .dot{
    background: #E5E5E5;
    opacity: 1;
    width: 6px;
    height: 6px;
    transition: .3s all;
    // margin-bottom: 10px;
}
.hero-sliderSiteEnter1 .flickity-page-dots .is-selected{
    background: #ff0000!important;
    opacity: 1;
    width: 8px;
    height: 8px;   
    transition: .3s all;
}
.hero-sliderSiteEnter1 .flickity-page-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
//slider2
.hero-sliderSiteEnter2{
    margin-top: 14px;
}
.hero-sliderSiteEnter2 .hero-slider-item{
    width: 748px;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.hero-sliderSiteEnter2 .hero-sliderSiteEnter-empty{
    width: 24%;
    height: 530px;
    border: none;
    box-shadow: none;
}
.hero-sliderSiteEnter2 .flickity-page-dots{
    display: block;
}

.hero-sliderSiteEnter2 .flickity-button{
    display: block;
}
.hero-sliderSiteEnter2 .flickity-page-dots .dot{
    background: #E5E5E5;
    opacity: 1;
    width: 6px;
    height: 6px;
    transition: .3s all;
    // margin-bottom: 10px;
}
.hero-sliderSiteEnter2 .flickity-page-dots .is-selected{
    background: #ff0000!important;
    opacity: 1;
    width: 8px;
    height: 8px;   
    transition: .3s all;
}
.hero-sliderSiteEnter2 .flickity-page-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sliderSiteEnter2 .hero-slider-item_lg{
    max-height: 530px;
    overflow: auto;
    box-shadow: none;
}
.hero-sliderSiteEnter2 .previous{
    display: none;
}
.hero-sliderSiteEnter2 .next{
    display: none;
}

//slider3
.hero-sliderSiteEnter3{
    margin-top: 14px;
}
.hero-sliderSiteEnter3 .hero-slider-item{
    width: 748px;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.hero-sliderSiteEnter3 .hero-sliderSiteEnter-empty{
    width: 24%;
    height: 530px;
    border: none;
    box-shadow: none;
}
.hero-sliderSiteEnter3 .flickity-page-dots{
    display: block;
}

.hero-sliderSiteEnter3 .flickity-button{
    display: block;
}
.hero-sliderSiteEnter3 .flickity-page-dots .dot{
    background: #E5E5E5;
    opacity: 1;
    width: 6px;
    height: 6px;
    transition: .3s all;
    // margin-bottom: 10px;
}
.hero-sliderSiteEnter3 .flickity-page-dots .is-selected{
    background: #ff0000!important;
    opacity: 1;
    width: 8px;
    height: 8px;   
    transition: .3s all;
}
.hero-sliderSiteEnter3 .flickity-page-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sliderSiteEnter3 .hero-slider-item_lg{
    max-height: 530px;
    overflow: auto;
    box-shadow: none;
}
.hero-sliderSiteEnter3 .previous{
    display: none;
}
.hero-sliderSiteEnter3 .next{
    display: none;
}
//slider4
.hero-sliderSiteEnter4{
    margin-top: 14px;
}
.hero-sliderSiteEnter4 .hero-slider-item{
    width: 748px;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.hero-sliderSiteEnter4 .hero-sliderSiteEnter-empty{
    width: 24%;
    height: 530px;
    border: none;
    box-shadow: none;
}
.hero-sliderSiteEnter4 .flickity-page-dots{
    display: block;
}

.hero-sliderSiteEnter4 .flickity-button{
    display: block;
}
.hero-sliderSiteEnter4 .flickity-page-dots .dot{
    background: #E5E5E5;
    opacity: 1;
    width: 6px;
    height: 6px;
    transition: .3s all;
    // margin-bottom: 10px;
}
.hero-sliderSiteEnter4 .flickity-page-dots .is-selected{
    background: #ff0000!important;
    opacity: 1;
    width: 8px;
    height: 8px;   
    transition: .3s all;
}
.hero-sliderSiteEnter4 .flickity-page-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sliderSiteEnter4 .hero-slider-item_lg{
    max-height: 530px;
    overflow: auto;
    box-shadow: none;
}
.hero-sliderSiteEnter4 .previous{
    display: none;
}
.hero-sliderSiteEnter4 .next{
    display: none;
}

//slider5
.hero-sliderSiteEnter5{
    margin-top: 14px;
}
.hero-sliderSiteEnter5 .hero-slider-item{
    width: 748px;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.hero-sliderSiteEnter5 .hero-sliderSiteEnter-empty{
    width: 24%;
    height: 530px;
    border: none;
    box-shadow: none;
}
.hero-sliderSiteEnter5 .flickity-page-dots{
    display: block;
}

.hero-sliderSiteEnter5 .flickity-button{
    display: block;
}
.hero-sliderSiteEnter5 .flickity-page-dots .dot{
    background: #E5E5E5;
    opacity: 1;
    width: 6px;
    height: 6px;
    transition: .3s all;
    // margin-bottom: 10px;
}
.hero-sliderSiteEnter5 .flickity-page-dots .is-selected{
    background: #ff0000!important;
    opacity: 1;
    width: 8px;
    height: 8px;   
    transition: .3s all;
}
.hero-sliderSiteEnter5 .flickity-page-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sliderSiteEnter5 .hero-slider-item_lg{
    max-height: 530px;
    overflow: auto;
    box-shadow: none;
}
.hero-sliderSiteEnter5 .previous{
    display: none;
}
.hero-sliderSiteEnter5 .next{
    display: none;
}

//slider6
.hero-sliderSiteEnter6{
    margin-top: 14px;
}
.hero-sliderSiteEnter6 .hero-slider-item{
    width: 748px;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.hero-sliderSiteEnter6 .hero-sliderSiteEnter-empty{
    width: 24%;
    height: 530px;
    border: none;
    box-shadow: none;
}
.hero-sliderSiteEnter6 .flickity-page-dots{
    display: block;
}

.hero-sliderSiteEnter6 .flickity-button{
    display: block;
}
.hero-sliderSiteEnter6 .flickity-page-dots .dot{
    background: #E5E5E5;
    opacity: 1;
    width: 6px;
    height: 6px;
    transition: .3s all;
    // margin-bottom: 10px;
}
.hero-sliderSiteEnter6 .flickity-page-dots .is-selected{
    background: #ff0000!important;
    opacity: 1;
    width: 8px;
    height: 8px;   
    transition: .3s all;
}
.hero-sliderSiteEnter6 .flickity-page-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sliderSiteEnter6 .hero-slider-item_lg{
    max-height: 530px;
    overflow: auto;
    box-shadow: none;
}
.hero-sliderSiteEnter6 .previous{
    display: none;
}
.hero-sliderSiteEnter6 .next{
    display: none;
}

.siteManager__tech_wrapperSM{
    display: none;
}





.swiper-slide{
    width: 748px!important;
    height: 565px;
    margin-right: 40px;
}
.swiper-slide picture img{
    width: 100%;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    box-shadow: 0px 57px 17px -48px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.swiper-slideHeight{
    overflow: auto;
    height: 531px;
}
.swiper-slideTools{
    height: 674px;
}

.swiper-pagination-bullet{
    width: 6px;
    height: 6px;
    background: #E5E5E5;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #ff0000!important;
}

.swiper-slide_first{
    // margin-left: 76px;
}
.swiper-container_mt{
    margin-top: 14px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0px;
}