@keyframes trembling {
    from {margin-left: 0px;}
    50% {margin-left: 10px;}
    to {margin-left: 0px;}
}

.stack{
    padding: 125px 0 0 0;
    &__stackTop{
        &_front{
            border-right: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            padding-right: 59px;
            width: 40%;
            padding-bottom: 24px;
            &:hover{
                // animation: trembling  1s ease-in-out;
                .stack__top_list-item_1{
                    animation: trembling  .3s ease-in-out;
                }
                .stack__top_list-item_2{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.1s;
                }
                .stack__top_list-item_3{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.2s;
                }
                .stack__top_list-item_4{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.3s;
                }
                .stack__stackTop_front-svg_path{
                    fill: #ff0000;
                    transition: .3s all;
                }
                .stack__top_header-title_FEActive{
                    color: #000000;
                    transition: .3s all;
                }
                .stack__top_list-item_FEA{
                    color: #000000;
                    transition: .3s all;
                }
            }
            &-svg{
                margin-left: auto;
                margin-top: -36px;
                min-width: 100px;
                &_path{
                    transition: .3s all;
                }
            }
        }
        &_back{
            border-left: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            padding-left: 44px;
            width: 40%;
            padding-bottom: 24px;
            &:hover{
                .stack__top_list-item_BEA_1{
                    animation: trembling  .3s ease-in-out;
                }
                .stack__top_list-item_BEA_2{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.1s;
                }
                .stack__top_list-item_BEA_3{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.2s;
                }
                .stack__top_list-item_BEA_4{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.3s;
                }
                .stack__stackTop_back-svg_path{
                    fill: #ff0000;
                    transition: .3s all;
                }
                .stack__top_header-title_BEActive{
                    color: #000000;
                    transition: .3s all;
                }
                .stack__top_list-item_BEA{
                    color: #000000;
                    transition: .3s all;
                }
            }
            &-svg{
                margin-left: auto;
                margin-top: -36px;
                min-width: 100px;
                &_path{
                    transition: .3s all;
                }
            }
        }
    }
    &__stackBottom{
        &_mobile{
            border-right: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;
            padding-right: 59px;
            padding-top: 50px;
            width: 40%;
            &:hover{
                .stack__bottom_mobile-list_item_1{
                    animation: trembling  .3s ease-in-out;
                }
                .stack__bottom_mobile-list_item_2{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.1s;
                }
                .stack__bottom_mobile-list_item_3{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.2s;
                }
                .stack__bottom_mobile-list_item_4{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.3s;
                }
                .stack__stackBottom_mobile-svg_path{
                    fill: #ff0000;
                    transition: .3s all;
                }
                .stack__bottom_mobile-header_title-MBA{
                    color: #000000;
                    transition: .3s all;
                }
                .stack__bottom_mobile-list_item{
                    color: #000000;
                    transition: .3s all;
                }
            }
            &-svg{
                margin-left: auto;
                margin-top: -36px;
                min-width: 100px;
                &_path{
                    transition: .3s all;
                }
            }
        }
        &_design{
            border-left: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;
            padding-left: 44px;
            width: 40%;
            padding-top: 50px;
            &:hover{
                .stack__bottom_design-list_item_1{
                    animation: trembling  .3s ease-in-out;
                }
                .stack__bottom_design-list_item_2{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.1s;
                }
                .stack__bottom_design-list_item_3{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.2s;
                }
                .stack__bottom_design-list_item_4{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.3s;
                }
                .stack__bottom_design-list_item_5{
                    animation: trembling  .3s ease-in-out;
                    animation-delay: 0.4s;
                }
                .stack__stackBottom_design-svg_path{
                    fill: #ff0000;
                    transition: .3s all;
                }
                .stack__bottom_design-header_title-DA{
                    color: #000000;
                    transition: .3s all;
                }
                .stack__bottom_design-list_item{
                    color: #000000;
                    transition: .3s all;
                }
            }
            &-svg{
                margin-left: auto;
                margin-top: -36px;
                min-width: 100px;
                &_path{
                    transition: .3s all;
                }
            }

        }
    }
    &__mobile{
        // margin-top: -22px;
        // margin-left: 102px;
    }
    &__design{
        // margin-top: -22px;
        // margin-left: 10px;
    }
    &__top{
        display: flex;
        align-items: center;
        // &_FE{
        //     padding: 0 58px 24px 0;
        // }
        // &_BE{
            
        // }
        &_header{
            display: flex;
            align-items: flex-start;
            &-title{
                font-size: 32px;
                line-height: 130%;
                color: #000000;
                font-family: 'Russo One', sans-serif;
                transition: .3s all;
            }
            &-icon{
                // margin-top: -35px;
                // margin-left: 55px;
            }
        }
        &_list{
            &-item{
                font-size: 16px;
                line-height: 130%;
                color: #000000;
            }
        }
    }
    &__bottom{
        display: flex;
        align-items: flex-start;
        &_mobile{
            &-header{
                display: flex;
                align-items: flex-start;
                &_title{
                    font-size: 32px;
                    line-height: 130%;
                    color: rgba(0, 0, 0, 0.8);
                    font-family: 'Russo One', sans-serif;
                    transition: .3s all;
                }
            }
            &-list{
                &_item{
                    font-size: 16px;
                    line-height: 130%;
                    color: rgba(0, 0, 0, 0.8);
                    transition: .3s all;
                }
            }
        }
        &_design{
            &-header{
                display: flex;
                align-items: flex-start;
                &_title{
                    font-size: 32px;
                    line-height: 130%;
                    color: rgba(0, 0, 0, 0.8);
                    font-family: 'Russo One', sans-serif;
                    transition: .3s all;
                }
            }
            &-list{
                &_item{
                    font-size: 16px;
                    line-height: 130%;
                    color: rgba(0, 0, 0, 0.8);
                    transition: .3s all;
                }
            }
        }
    }
}

.stack__top_header-title{
    color: rgba(0, 0, 0, 0.8);
    transition: .3s all;
}


@media screen and (max-width: 1200px){
    .stack__stackTop_front{
        width: 50%;
    }
    .stack__stackBottom_mobile{
        width: 50%;
    }
}

.stack__top_list-item_FEA{
    color: rgba(0, 0, 0, 0.8);
    transition: .3s all;
}
.stack__top_list-item_BEA{
    color: rgba(0, 0, 0, 0.8);
    transition: .3s all;
}


