@keyframes termometr{
    from{
        // width: 0%;
        transform: translateX(-100%);
    }
    17%{
        // width: 17%;
        // transform: translateX(17%);
        transform: translateX(-84%);
    }
    34%{
        // width: 34%;
        // transform: translateX(34%);
        transform: translateX(-67%);
    }
    50%{
        // width: 50%;
        transform: translateX(-50%);
    }
    67%{
        // width: 67%;
        // transform: translateX(67%);
        transform: translateX(-34%);
    }
    84%{
        // width: 84%;
        // transform: translateX(84%);
        transform: translateX(-17%);
    }
    to{
        // width: 100%;
        transform: translateX(0%);
    }
}
@keyframes termometr_title{
    from{
        color: #C4C4C4;
    }
    50%{
        color: #C4C4C4;
    }
    90%{
        color: #C4C4C4;  
    }
    99%{
        color: #C4C4C4;  
    }
    to{
        color: black;
        transition: .3s all;
    }
}
@keyframes termometr_branch{
    from{
        background: #C4C4C4;
    }
    50%{
        background: #C4C4C4;
    }
    90%{
        background: #C4C4C4;
    }
    99%{
        background: #C4C4C4;
    }
    to{
        background: #ff0000;
        transition: .3s all;
    }
}



.steps{
    padding: 194px 0 135px 0;
    overflow: hidden;
    &__frow{
        margin-bottom: 86px;
    }
    &__row{
        margin-bottom: 70px;
        // overflow: hidden;
    }
    &__scale{
        margin-top: 155px;
        height: 25px;
        border-top: 1px solid #C4C4C4;
        border-bottom: 1px solid #C4C4C4;
        box-sizing: border-box;
        background: #ffffff;
        position: relative;
        display: flex;
        align-items: center;
        &_block{
            //Определиться с дизайном
            // width: 229px;
            width: 140px;
            background-color: transparent;
            height: 100%;
            position: relative;
            &-scope{
                display: block;
                position: absolute;
                height: 120px;
                width: 2px;
                top: 50%;
                transform: translateY(-50%);
                background: #c4c4c4;
                &_title{
                    height: 70px;
                    font-size: 12px;
                    line-height: 130%;
                    color: #C4C4C4;
                    position: absolute;
                    bottom: -121px;
                    left: 0;
                }
                &-active{
                    background: #ff0000;
                }
            }
            &-evaluation{
                display: block;
                position: absolute;
                height: 100px;
                width: 2px;
                top: 50%;
                transform: translateY(-50%);
                background: #ff0000;
                animation: termometr_branch 1s linear;
                left: 0;
                &_title{
                    font-size: 12px;
                    line-height: 130%;
                    color: #000000;
                    position: absolute;
                    top: -70px;
                    left: 0;
                    animation: termometr_title 1s linear;
                    &-active{
                        color: #000000;
                    }
                }
                &-active{
                    background: #ff0000;
                }
            }
            &-UIUX{
                display: block;
                position: absolute;
                height: 100px;
                width: 2px;
                top: 50%;
                transform: translateY(-50%);
                background: #ff0000;
                animation: termometr_branch 2s linear;
                left: 0;
                &_title{
                    height: 70px;
                    font-size: 12px;
                    line-height: 130%;
                    color: black;
                    position: absolute;
                    bottom: -121px;
                    left: 0;
                    animation: termometr_title 2s linear;
                }
            }
            &-solutuion{
                display: block;
                position: absolute;
                height: 100px;
                width: 2px;
                top: 50%;
                transform: translateY(-50%);
                background: #ff0000;
                animation: termometr_branch 3s linear;
                left: 0;
                &_title{
                    font-size: 12px;
                    line-height: 130%;
                    color: #000;
                    position: absolute;
                    top: -70px;
                    left: 0;
                    animation: termometr_title 3s linear;
                }
            }
            &-testing{
                display: block;
                position: absolute;
                height: 100px;
                width: 2px;
                top: 50%;
                transform: translateY(-50%);
                background: #ff0000;
                animation: termometr_branch 4s linear;
                left: 0;
                &_title{
                    height: 70px;
                    font-size: 12px;
                    line-height: 130%;
                    color: #000;
                    position: absolute;
                    bottom: -121px;
                    left: 0;
                    animation: termometr_title 4s linear;
                }
            }
            &-verification{
                display: block;
                position: absolute;
                height: 100px;
                width: 2px;
                top: 50%;
                transform: translateY(-50%);
                background: #ff0000;
                left: 0;
                animation: termometr_branch 5s linear;
                &_title{
                    font-size: 12px;
                    line-height: 130%;
                    color: #000;
                    position: absolute;
                    top: -70px;
                    left: 0;
                    animation: termometr_title 5s linear;
                }
            }
            &-scopeLast{
                display: block;
                position: absolute;
                height: 120px;
                width: 2px;
                top: 50%;
                transform: translateY(-50%);
                background: #ff0000;
                right: 0;
                animation: termometr_branch 6s linear;
                &_title{
                    height: 70px;
                    font-size: 12px;
                    line-height: 130%;
                    color: #000;
                    position: absolute;
                    bottom: -121px;
                    right: 8px;
                    text-align: right;
                    animation: termometr_title 6s linear;
                }
            }
        }
    }
    &__click{
        &_wrapper{
            display: flex;
            align-items: center;
            margin-top: 68px;
        }
    }
    &__line{
        &_wrapper{
            display: flex;
            align-items: center;
            width: 100%;
            &-line{ 
                width: 80%;
                height: 2px;
                background: #e5e5e5;
                &_active{
                    width: 20%;
                    height: 2px;
                    background: #ff0000;
                }
            }
        }
    }
    .steps__approach_svgHover{
        transition: .3s all;
    }
    &__approach{
        display: flex;
        align-items: center;
        border-bottom: 2px solid #000000;
        cursor: pointer;
        margin-top: 40px;
        transition: .3s all;
        &:hover{
            transition: .3s all;
            border-bottom: 2px solid #ff0000;
            .steps__approach_textHover{
                color: #ff0000;
            }
            .steps__approach_svgHover{
                animation: arrow_approach  .3s ease-in-out;
            }
            .steps__approach_pathHover{
                fill: #ff0000;
            }
        }
        div{
            font-weight: 600;
            line-height: 130%;
            color: #000000;
            margin-right: 8px;
            transition: .3s all;
        }
        &_row{
            margin-top: 120px;
        }
        svg{
            path{
                transition: .3s all;
            }
        }
    }
}
.steps__approach_textHover{
    font-size: 24px;
}
.active{
    height: 100%;
    background: red;
    width: 100%;
    transform: translateX(0%);
    position: absolute;
    animation: termometr  6s linear;
}
.steps__approach_row{
    display: none;
}