// @font-face { 
//   font-family: 'Ubuntu';
//   src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
//   font-weight: normal; 
//   font-style: normal; 
// }
// @font-face { 
//   font-family: 'Ubuntu';
//   src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
//   font-weight: 500; 
//   font-style: normal; 
// }
// @font-face { 
//   font-family: 'Ubuntu';
//   src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
//   font-weight: 600; 
//   font-style: normal; 
// }
// @font-face{
//   font-family: 'Russo One';
//   src: url('../fonts/Russo_One/RussoOne-Regular.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

*{
    font-family: 'Ubuntu', sans-serif;
}


@keyframes dotsHover {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

.row{
    margin-left: 0!important;
    margin-right: 0!important; 
}
.container-fluid{
    padding-left: 15px;
    padding-right: 15px;
}

.workingModules__title{
    font-family: 'Russo One', sans-serif;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}
.workingModules__circle_mobile{
    display: none;
}

.projectTor-contact__title{
  margin-top: 96px;
}

// body{
//     overflow-x: hidden!important;
// }

.contact__form_wrapper-mt1{
    margin-top: 0;
}

.menu__active_body{
    overflow: hidden!important;
}
.select2{
    margin-left: 29px;
}
.projects__wrapper_digit-active{
    color: #ff0000!important;
}

.faq_QA_faq-svg_active{
    transition: .3s all;
    transform: rotate(45deg);
}

.faq__QA_faq-title-active{
    opacity: 1;
}


.case__mobileInterfaces{
  .container-fluid{
    padding: 0;
  }
}
.case__mobileInterfaces_right{
  padding-right: 0;
}

canvas {
    display: block;
  }

.ex2app__technology_mobile{
  display: none;
}

@keyframes arrow_contact {
  from {margin-bottom: 0px;}
  50% {margin-bottom: 10px;}
  to {margin-bottom: 0;}
}
@keyframes arrow_approach {
  from {margin-left: 0px;}
  50% {margin-left: 10px;}
  to {margin-left: 0;}
}

.hero-slider-item_ex2app_descktop{
  width: 748px!important;
  height: 464px;
  img{
    width: 100%;
    height: 100%;
  }
}
.hero-slider-item_ex2appMobile{
  width: 229px!important;
  height: 461px;
  img{
    width: 100%;
    height: 100%;
  }
}
  

#toProjects__mobile{
  text-decoration: none;
  color: #000000;
}
.burger__list_active{
  color: #ff0000!important;
}
#toFaq{
  color: #000000;
}
#toAbout__mobile{
  color: #000000;
}
#toForm__mobile{
  color: #000000;
}
#toAbout{
  text-decoration: none;
  color: #000000;
}
.burger__menu_list a{
  color: #000000;
}


.swiper-slideHeight{
  &::-webkit-scrollbar {
    width: 5px;
  }
    /* Track */
  &::-webkit-scrollbar-track {
      background: transparent;
  }
    /* Handle */
  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #8E9FAD;
  }
}



 //test
// Primary Colours
// $atPrimary: #267ec8;
// $atInactive: #d1e7f9;
// $atHighlight: #1899db;
// $atDark: #024073;
// $atWhite: #ffffff;
// $atBackground: #EFF3F6;
// $atBordersLines: #DEE4E9;
// $atLightText: #b7c0c7;
// $atDarkText: #1d3649;
// $atDarkBg: #1d3649;
// $atPositive: #3ace84;
// $atSuccess: #00a504;
// $atErrorDelete: #f22727;
// $atDanger: #f22727;
// $atInfo: #4ab7e2;
// $atRegPlate: #f8e71c;
// $atDisabled: #dcdcdc;
// $atWarning: #ff9c06;
// $atGray: #dee4e9;
// $atTertiary: #2e3133;
// //Footer
// $at-footer-bg: $atWhite;
// //Nav
// $at-header-bg: $atDarkBg;
// $at-nav-footer: #384e5e;
// $at-nav-hover: #4A5E6D;
// $at-sub-nav-hover: #384e5e;
// $at-nav-active: #4A5E6D;
// $at-nav-focus: #4A5E6D;
// $at-nav-disabled-bg: #384e5e;
// // Buttons
// $at-btn-disabled: #dfdfdf;
// $at-btn-radius: 6px;
// $at-btn-disabled-txt: #999999;
// // Primary Buttons
// $at-btn-primary: $atPrimary;
// $at-btn-primary-hover: #1899db;
// $at-btn-primary-active: #024073;
// // Secondary Buttons
// $at-btn-secondary: $atPrimary;
// $at-btn-secondary-hover: #1899db;
// $at-btn-secondary-active: #024073;
// // Special Use
// $at-btn-special-blue: $atInfo;
// $at-btn-special-blue-hover: #72c5e6;
// $at-btn-special-blue-active: #38a0ca;
// $at-btn-special-green: $atSuccess;
// $at-btn-special-green-hover: #3bb53f;
// $at-btn-special-green-active: #009104;
// $at-btn-special-orange: $atWarning;
// $at-btn-special-orange-hover: #fdaf46;
// $at-btn-special-orange-active: #fb8200;
// $at-btn-special-red: $atErrorDelete;
// $at-btn-special-red-hover: #f55252;
// $at-btn-special-red-active: #d01b1b;
// $at-btn-special-white: $atWhite;
// $at-btn-special-white-hover: $atWhite;
// $at-btn-special-white-active: $atWhite;
// $at-btn-special-nav-primary: $atPrimary;
// $at-btn-special-nav-hover: $atWhite;
// $at-btn-special-nav-active: #024073;
// // Teritary Use
// $at-btn-tertiary-txt: #2e3133;
// $at-btn-tertiary: #b7c0c7;
// $at-btn-tertiary-hover: #267ec8;
// $at-btn-tertiary-active: #2e3133;
// // Links
// $at-link: $atPrimary;
// $at-link-hover: #1899db;
// $at-link-active: #024073;
// $default-radius:5px;
// $default-opacity:0.8;
// // images variables
// $image-path: './images' !default;
// $fallback-extension: 'png' !default;
// $retina-suffix: '@2x';
// // Typography
// // The font size set on the root html element.
// $base-font-size: 16px !default;
// // The base line height determines the basic unit of vertical rhythm.
// $base-line-height: 24px !default;
// // The length unit in which to output vertical rhythm values.
// // Supported values: px, em, rem.
// $base-unit: 'rem' !default;
// // The default font family.
// $base-font-family: sans-serif !default;
// // The font sizes for h1-h6.
// $h1-font-size: 3.375 * $base-font-size !default;
// $h2-font-size: 2.25 * $base-font-size !default;
// $h3-font-size: 1.625 * $base-font-size !default;
// $h4-font-size: 1 * $base-font-size !default;
// $h5-font-size: 1 * $base-font-size !default;
// $h6-font-size: 1 * $base-font-size !default;
// $h1-font-mobile-size: 2.25 * $base-font-size !default;
// $h2-font-mobile-size: 1.25 * $base-font-size !default;
// $h3-font-mobile-size: 1.2 * $base-font-size !default;
// // The amount lists and blockquotes are indented.
// $indent-amount: 0 !default;
// // The following variable controls whether normalize-scss will output
// // font-sizes, line-heights and block-level top/bottom margins that form a basic
// // vertical rhythm on the page, which differs from the original Normalize.css.
// // However, changing any of the variables above will cause
// // $normalize-vertical-rhythm to be automatically set to true.
// $normalize-vertical-rhythm: true !default;
// // Sizes in rem's, using base font as 16px
// $at-font-size-11:0.5625rem;
// $at-font-size-10:0.6250rem;
// $at-font-size-11:0.6875rem;
// $at-font-size-12:0.7500rem;
// $at-font-size-14:0.8750rem;
// $at-font-size-16:1rem;
// $at-font-size-18:1.1250rem;
// $at-font-size-20:1.2500rem;
// $at-font-size-22:1.3750rem;
// $at-font-size-24:1.5000rem;
// $at-font-size-26:1.625rem;
// $at-font-size-28:1.75rem;
// $at-font-size-32:2rem;
// $at-font-size-34:2.125rem;
// $at-font-size-36:2.25rem;
// $at-font-size-42:2.625rem;
// $at-font-size-44:2.75rem;
// $at-font-size-48:3rem;
// $at-font-size-54:3.375rem;
// $at-font-size-66:4.125rem;
// $at-font-size-72:4.5rem;
// // Fonts
// $openSans: 'open sans';
// // Tyography Specific - We should use these over the ones above.
// $at-body-font: $at-font-size-16; // Base size
// $at-sm-font: $at-font-size-14; // Small
// $at-xs-font: $at-font-size-12; // extra Small
// $at-small-label-font: $at-font-size-11; // small Label
// $at-fine-print-font: $at-font-size-11; // Fine Print
// // Font-weight
// $at-bold-font: 800;
// $at-semibold-font: 600;
// $at-regular-font: 400;
// $at-light-font: 300;
// // Media queries breakpoints
// //
// // Defines the breakpoints at which your layout will change, adapting to different screen sizes.
// // Extra small screen (iPhone 5)
// $screen-xxs: 480px !default;
// $screen-xxs-min: $screen-xxs !default;
// $small-phone: $screen-xxs-min !default;
// // Phone
// $screen-xs: 767px !default;
// $screen-xs-min: $screen-xs !default;
// $screen-phone: $screen-xs-min !default;
// // Small screen / tablet
// $screen-sm: 768px !default;
// $screen-sm-min: $screen-sm !default;
// $screen-tablet: $screen-sm-min !default;
// // Medium screen / desktop
// $screen-md: 992px !default;
// $screen-md-min: $screen-md !default;
// $screen-desktop: $screen-md-min !default;
// // Large screen / wide desktop
// $screen-lg: 1200px !default;
// $screen-lg-min: $screen-lg !default;
// $screen-lg-desktop: $screen-lg-min !default;
// // So media queries don't overlap when required, provide a maximum
// $screen-xs-max: ($screen-sm-min - 1) !default;
// $screen-sm-max: ($screen-md-min - 1) !default;
// $screen-md-max: ($screen-lg-min - 1) !default;
// // Grid system
// //
// // Define your custom responsive grid.
// // Number of columns in the grid.
// $grid-columns: 12 !default;
// // Padding between columns. Gets divided in half for the left and right.
// $grid-gutter-width: 20px !default;
// $mobile-grid-gutter-width: 20px !default;
// // Navbar collapse
// // Point at which the navbar becomes uncollapsed.
// $grid-float-breakpoint: $screen-sm-min !default;
// // Point at which the navbar begins collapsing.
// $grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;
// // Container sizes
// //
// // Define the maximum width of `.container` for different screen sizes.
// // Small screen / tablet
// $container-tablet: (726px + $grid-gutter-width) !default;
// // For `$screen-sm-min` and up.
// $container-sm: $container-tablet !default;
// // Medium screen / desktop
// $container-desktop: (946px + $grid-gutter-width) !default;
// // For `$screen-md-min` and up.
// $container-md: $container-desktop !default;
// // Large screen / wide desktop
// $container-large-desktop: (1146px + $grid-gutter-width) !default;
// // For `$screen-lg-min` and up.
// $container-lg: $container-large-desktop !default;
// // Popovers
// $zindex-popover: 1060 !default;
// $popover-inner-padding: 1px !default;
// $popover-bg: #fff !default;
// $popover-max-width: 330px !default;
// $popover-border-width: 1px !default;
// $popover-border-color: $atBordersLines !default;
// $popover-box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !default;
// $popover-title-bg: $atBordersLines !default;
// $popover-title-padding-x: 14px !default;
// $popover-title-padding-y: 8px !default;
// $popover-content-padding-x: 14px !default;
// $popover-content-padding-y: 9px !default;
// $popover-arrow-width: 10px !default;
// $popover-arrow-color: $popover-bg !default;
// $popover-arrow-outer-width: ($popover-arrow-width + 1px) !default;
// $popover-arrow-outer-color: fade-in($popover-border-color, .05) !default;
// //== Modals
// //
// // Using Bootstrap base variables intitally
// $zindex-modal-background: 1040 !default;
// $zindex-modal: 1050 !default;
// //** Padding applied to the modal body   
// $modal-inner-padding: 15px !default;
// //** Padding applied to the modal title
// $modal-title-padding: 15px !default;
// //** Modal title line-height
// $modal-title-line-height: $base-line-height !default;
// //** Background color of modal content area
// $modal-content-bg: $atWhite !default;
// //** Modal content border color
// $modal-content-border-color: rgba(0, 0, 0, .2) !default;
// //** Modal content border color **for IE8**
// $modal-content-fallback-border-color: $atGray !default;
// //** Modal backdrop background color
// $modal-backdrop-bg: $atWhite !default;
// //** Modal backdrop opacity
// $modal-backdrop-opacity: .2 !default;
// //** Modal header border color
// $modal-header-border-color: #e5e5e5 !default;
// //** Modal footer border color
// $modal-footer-border-color: $modal-header-border-color !default;
// $modal-lg: 900px !default;
// $modal-md: 600px !default;
// $modal-sm: 300px !default;
// // Scales for responsive SVG containers
// $ct-scales: ((1), (15/16), (8/9), (5/6), (4/5), (3/4), (2/3), (5/8), (1/1.618), (3/5), (9/16), (8/15), (1/2), (2/5), (3/8), (1/3), (1/4)) !default;
// $ct-scales-names: (ct-square, ct-minor-second, ct-major-second, ct-minor-third, ct-major-third, ct-perfect-fourth, ct-perfect-fifth, ct-minor-sixth, ct-golden-section, ct-major-sixth, ct-minor-seventh, ct-major-seventh, ct-octave, ct-major-tenth, ct-major-eleventh, ct-major-twelfth, ct-double-octave) !default;
// @mixin respond-to($size) {
//   @if $size=='all' {
//     @media (min-width: $screen-lg-desktop) {
//       @content
//     }
//   }
//   @else if $size=='desktop' {
//     @media (min-width: $screen-lg-desktop) {
//       @content
//     }
//   }
//   @else if $size=='tablet-landscape' {
//     @media (max-width: $screen-lg) and (min-width: $screen-desktop) {
//       @content
//     }
//   }
//   @else if $size=='tablet-portrait' {
//     @media (max-width: $screen-tablet) {
//       @content
//     }
//   }
//   @else if $size=='medium-tablet-landscape' {
//     @media (max-width: $screen-md) {
//       @content
//     }
//   }
//   @else if $size=='small-tablet-landscape' {
//     @media (max-height: 600px) and (max-width: $screen-md) {
//       @content
//     }
//   }
//   @else if $size=='phone-landscape' {
//     @media (max-width: $screen-tablet) and (max-height: $small-phone) {
//       @content
//     }
//   }
//   @else if $size=='phone' {
//     @media (max-width: $screen-phone) {
//       @content
//     }
//   }
//   @else if $size=='large-phone-landscape' {
//     @media (max-width: $screen-lg) and (min-width: $screen-tablet) {
//       @content
//     }
//   }
//   @else if $size=='large-phone' {
//     @media (max-width: $screen-tablet) and (max-height: 666px) and (min-height: 569px) {
//       @content
//     }
//   }
//   @else if $size=='small-phone-landscape' {
//     @media (max-height: 320px) and (max-width: $screen-tablet) {
//       @content
//     }
//   }
//   @else if $size=='touch-device' {
//     @media (pointer: none) {
//       @content
//     }
//   }
//   @else if $size=='semi-touch-device' {
//     @media (pointer: coarse) {
//       @content
//     }
//   }
// }

// // Class names to be used when generating CSS
// $ct-class-chart: c-at-chart !default;
// $ct-class-chart-line: c-at-line-chart !default;
// $ct-class-chart-bar: c-at-bar-chart !default;
// $ct-class-horizontal-bars: c-at-horizontal-bars !default;
// $ct-class-chart-pie: c-at-pie-chart !default;
// $ct-class-chart-donut: c-at-donut-chart !default;
// $ct-class-label: c-at-chart__label !default;
// $ct-class-series: c-at-chart__series !default;
// $ct-class-line: c-at-chart__line !default;
// $ct-class-point: c-at-chart__point !default;
// $ct-class-area: c-at-chart__area !default;
// $ct-class-bar: c-at-chart__bar !default;
// $ct-class-slice-pie: c-at-chart__slice-pie !default;
// $ct-class-slice-donut: c-at-chart__slice-donut !default;
// $ct-class-grid: c-at-chart__grid !default;
// $ct-class-grid-background: c-at-chart__background !default;
// $ct-class-vertical: c-at-chart__vertical !default;
// $ct-class-horizontal: c-at-chart__horizontal !default;
// $ct-class-start: c-at-chart__start !default;
// $ct-class-end: c-at-chart__end !default;
// // Container ratio
// $ct-container-ratio: (1/1.618) !default;
// // Text styles for labels
// $ct-text-color: rgba(0, 0, 0, 0.4) !default;
// $ct-text-size: 0.75rem !default;
// $ct-text-align: flex-start !default;
// $ct-text-justify: flex-start !default;
// $ct-text-line-height: 1;
// // Grid styles
// $ct-grid-color: rgba(0, 0, 0, 0.2) !default;
// $ct-grid-dasharray: 2px !default;
// $ct-grid-width: 1px !default;
// $ct-grid-background-fill: none !default;
// // Line chart properties
// $ct-line-width: 4px !default;
// $ct-line-dasharray: false !default;
// $ct-point-size: 10px !default;
// // Line chart point, can be either round or square
// $ct-point-shape: round !default;
// // Area fill transparency between 0 and 1
// $ct-area-opacity: 0.1 !default;
// // Bar chart bar width
// $ct-bar-width: 10px !default;
// // Donut width (If donut width is to big it can cause issues where the shape gets distorted)
// $ct-donut-width: 60px !default;
// // If set to true it will include the default classes and generate CSS output. If you're planning to use the mixins you
// // should set this property to false
// $ct-include-classes: true !default;
// // If this is set to true the CSS will contain colored series. You can extend or change the color with the
// // properties below
// $ct-include-colored-series: $ct-include-classes !default;
// // If set to true this will include all responsive container variations using the scales defined at the top of the script
// $ct-include-alternative-responsive-containers: $ct-include-classes !default;
// // Series names and colors. This can be extended or customized as desired. Just add more series and colors.
// $ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o) !default;
// $ct-series-colors: ( #d70206, #f05b4f, #f4c63d, #d17905, #453d3f, #59922b, #0544d3, #6b0392, #f05b4f, #dda458, #eacf7d, #86797d, #b2c326, #6188e2, #a748ca) !default;
// $at-your-views-series: #3ace84;
// $at-similar-ads: #8725de;
// $ct-series-names: (a, b);
// $ct-series-colors: $at-similar-ads,
// $at-your-views-series;
// $atGrayText: #485a68;
// @mixin ct-responsive-svg-container($width: 100%, $ratio: $ct-container-ratio) {
//   display: block;
//   position: relative;
//   width: $width;
//   &:before {
//     display: block;
//     float: left;
//     content: "";
//     width: 0;
//     height: 0;
//     padding-bottom: $ratio * 100%;
//   }
//   &:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
//   > svg {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }

// @mixin ct-align-justify($ct-text-align: $ct-text-align, $ct-text-justify: $ct-text-justify) {
//   -webkit-box-align: $ct-text-align;
//   -webkit-align-items: $ct-text-align;
//   -ms-flex-align: $ct-text-align;
//   align-items: $ct-text-align;
//   -webkit-box-pack: $ct-text-justify;
//   -webkit-justify-content: $ct-text-justify;
//   -ms-flex-pack: $ct-text-justify;
//   justify-content: $ct-text-justify;
//   // Fallback to text-align for non-flex browsers
//   @if($ct-text-justify=='flex-start') {
//     text-align: left;
//   }
//   @else if ($ct-text-justify=='flex-end') {
//     text-align: right;
//   }
//   @else {
//     text-align: center;
//   }
// }

// @mixin ct-flex() {
//   // Fallback to block
//   display: block;
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
// }

// @mixin ct-chart-label($ct-text-color: $ct-text-color, $ct-text-size: $ct-text-size, $ct-text-line-height: $ct-text-line-height) {
//   fill: $ct-text-color;
//   color: $ct-text-color;
//   font-size: $ct-text-size;
//   line-height: $ct-text-line-height;
// }

// @mixin ct-chart-grid($ct-grid-color: $ct-grid-color, $ct-grid-width: $ct-grid-width, $ct-grid-dasharray: $ct-grid-dasharray) {
//   stroke: $ct-grid-color;
//   stroke-width: $ct-grid-width;
//   @if ($ct-grid-dasharray) {
//     stroke-dasharray: $ct-grid-dasharray;
//   }
// }

// @mixin ct-chart-point($ct-point-size: $ct-point-size, $ct-point-shape: $ct-point-shape) {
//   stroke-width: $ct-point-size;
//   stroke-linecap: $ct-point-shape;
// }

// @mixin ct-chart-line($ct-line-width: $ct-line-width, $ct-line-dasharray: $ct-line-dasharray) {
//   fill: none;
//   stroke-width: $ct-line-width;
//   @if ($ct-line-dasharray) {
//     stroke-dasharray: $ct-line-dasharray;
//   }
// }

// @mixin ct-chart-area($ct-area-opacity: $ct-area-opacity) {
//   stroke: none;
//   fill-opacity: $ct-area-opacity;
// }

// @mixin ct-chart-bar($ct-bar-width: $ct-bar-width) {
//   fill: none;
//   stroke-width: $ct-bar-width;
// }

// @mixin ct-chart-donut($ct-donut-width: $ct-donut-width) {
//   fill: none;
//   stroke-width: $ct-donut-width;
// }

// @mixin ct-chart-series-color($color) {
//   .#{$ct-class-point},
//   .#{$ct-class-line},
//   .#{$ct-class-bar},
//   .#{$ct-class-slice-donut} {
//     stroke: $color;
//   }
//   .#{$ct-class-slice-pie},
//   .#{$ct-class-area} {
//     fill: $color;
//   }
// }

// @mixin ct-chart($ct-container-ratio: $ct-container-ratio, $ct-text-color: $ct-text-color, $ct-text-size: $ct-text-size, $ct-grid-color: $ct-grid-color, $ct-grid-width: $ct-grid-width, $ct-grid-dasharray: $ct-grid-dasharray, $ct-point-size: $ct-point-size, $ct-point-shape: $ct-point-shape, $ct-line-width: $ct-line-width, $ct-bar-width: $ct-bar-width, $ct-donut-width: $ct-donut-width, $ct-series-names: $ct-series-names, $ct-series-colors: $ct-series-colors) {
//   .#{$ct-class-label} {
//     @include ct-chart-label($ct-text-color, $ct-text-size);
//   }
//   .#{$ct-class-chart-line} .#{$ct-class-label},
//   .#{$ct-class-chart-bar} .#{$ct-class-label} {
//     @include ct-flex();
//   }
//   .#{$ct-class-chart-pie} .#{$ct-class-label},
//   .#{$ct-class-chart-donut} .#{$ct-class-label} {
//     dominant-baseline: central;
//   }
//   .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
//     @include ct-align-justify(flex-end, flex-start);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: start;
//   }
//   .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
//     @include ct-align-justify(flex-start, flex-start);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: start;
//   }
//   .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-start} {
//     @include ct-align-justify(flex-end, flex-end);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: end;
//   }
//   .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-end} {
//     @include ct-align-justify(flex-end, flex-start);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: start;
//   }
//   .#{$ct-class-chart-bar} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
//     @include ct-align-justify(flex-end, center);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: start;
//   }
//   .#{$ct-class-chart-bar} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
//     @include ct-align-justify(flex-start, center);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: start;
//   }
//   .#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
//     @include ct-align-justify(flex-end, flex-start);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: start;
//   }
//   .#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
//     @include ct-align-justify(flex-start, flex-start);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: start;
//   }
//   .#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-start} {
//     //@include ct-chart-label($ct-text-color, $ct-text-size, center, $ct-vertical-text-justify);
//     @include ct-align-justify(center, flex-end);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: end;
//   }
//   .#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-end} {
//     @include ct-align-justify(center, flex-start);
//     // Fallback for browsers that don't support foreignObjects
//     text-anchor: end;
//   }
//   .#{$ct-class-grid} {
//     @include ct-chart-grid($ct-grid-color, $ct-grid-width, $ct-grid-dasharray);
//   }
//   .#{$ct-class-grid-background} {
//     fill: $ct-grid-background-fill;
//   }
//   .#{$ct-class-point} {
//     @include ct-chart-point($ct-point-size, $ct-point-shape);
//   }
//   .#{$ct-class-line} {
//     @include ct-chart-line($ct-line-width);
//   }
//   .#{$ct-class-area} {
//     @include ct-chart-area();
//   }
//   .#{$ct-class-bar} {
//     @include ct-chart-bar($ct-bar-width);
//   }
//   .#{$ct-class-slice-donut} {
//     @include ct-chart-donut($ct-donut-width);
//   }
//   @if $ct-include-colored-series {
//     @for $i from 0 to length($ct-series-names) {
//       .#{$ct-class-series}-#{nth($ct-series-names, $i + 1)} {
//         $color: nth($ct-series-colors, $i + 1);
//         @include ct-chart-series-color($color);
//       }
//     }
//   }
// }

// @if $ct-include-classes {
//   @include ct-chart();
//   @if $ct-include-alternative-responsive-containers {
//     @for $i from 0 to length($ct-scales-names) {
//       .#{nth($ct-scales-names, $i + 1)} {
//         @include ct-responsive-svg-container($ratio: nth($ct-scales, $i + 1));
//       }
//     }
//   }
// }

// @mixin animateIn($delay: 0s, $diff: 0.1444s) {
//   .c-at-chart__point:nth-child(2) {
//     animation-delay: 0.4s;
//   }
//   @for $i from 3 to 9 {
//     .c-at-chart__point:nth-child(#{$i}) {
//       animation-delay: $delay + $i * $diff;
//     }
//   }
// }

// .c-at-chart {
//   position: absolute;
//   width: 100%;
//   left: 0;
//   height: 200px;
//   &__label {
//     display: none;
//   }
//   &__series {
//     &-a {
//       animation-delay: 0.5s;
//       @include animateIn(0.4s);
//       & .c-at-chart__line {
//         stroke: $at-similar-ads;
//         animation-delay: 0.4s;
//       }
//       & .c-at-chart__point {
//         stroke: $at-similar-ads;
//       }
//     }
//     &-b {
//       animation-delay: 0s;
//       @include animateIn(0, 0.1444s);
//       & .c-at-chart__line {
//         stroke: $at-your-views-series;
//         stroke-dasharray: 2400;
//       }
//       & .c-at-chart__point {
//         stroke: $at-your-views-series;
//       }
//     }
//   }
//   &__grid-background {
//     fill: none;
//   }
//   &__line {
//     fill: none;
//     stroke-width: 2px;
//     stroke-dasharray: 2400;
//     opacity: 0;
//     animation: draw-line 2.5s ease-in-out;
//     animation-fill-mode: forwards;
//   }
//   &__point {
//     opacity: 0;
//     animation: draw-points 0.2s ease-in-out;
//     animation-fill-mode: forwards;
//     stroke-width: 10px;
//     stroke-linecap: round;
//   }
//   &__grid {
//     display: none;
//   }
//   &__area {
//     stroke: none;
//     fill-opacity: .1;
//   }
//   @keyframes draw-line {
//     from {
//       stroke-dashoffset: 2400;
//       opacity: 1;
//     }
//     to {
//       stroke-dashoffset: 0;
//       opacity: 1;
//     }
//   }
//   @keyframes draw-points {
//     from {
//       opacity: 0;
//     }
//     to {
//       opacity: 1;
//     }
//   }
// }

// .c-at-chart-legend {
//   position: absolute;
//   z-index: 10;
//   bottom: -18px;
//   list-style: none;
//   right: 0;
//   margin: 0;
//   li {
//     position: relative;
//     padding-left: 23px;
//     margin-bottom: 3px;
//     float: right;
//     margin-right: 40px;
//     line-height: 10px;
//   }
//   li:before {
//     width: 12px;
//     height: 12px;
//     position: absolute;
//     left: -5px;
//     content: '';
//     border: 3px solid transparent;
//     border-radius: 50%;
//   }
//   li:after {
//     width: 20px;
//     height: 0px;
//     position: absolute;
//     left: -9px;
//     content: '';
//     border: 2px solid;
//     z-index: 2;
//     top: 4px;
//   }
//   li.inactive:before {
//     background: transparent;
//   }
//   &.c-at-chart-legend-inside {
//     position: absolute;
//     top: 0;
//     right: 0;
//   }
//   @for $i from 0 to length($ct-series-colors) {
//     &__label-#{$i}:before {
//       background-color: nth($ct-series-colors, $i + 1);
//       border-color: nth($ct-series-colors, $i + 1);
//     }
//     &__label-#{$i}:after {
//       border-color: nth($ct-series-colors, $i + 1);
//     }
//     &__label-#{$i} {
//       color: nth($ct-series-colors, $i + 1);
//       &:first-child {
//         margin-right: 0;
//       }
//     }
//   }
// }

// .c-at-performance-overview {
//   @include respond-to('medium-tablet-landscape') {
//     display: none;
//   }
//   @include respond-to('medium-tablet-landscape') {
//     text-align: center;
//   }
//   &__title {
//     font-size: $h2-font-mobile-size;
//     @include respond-to('medium-tablet-landscape') {
//       text-align: center;
//     }
//   }
//   &__line-graph {
//     float: left;
//     min-height: 150px;
//     @media (min-width: $screen-md) and (max-width: $screen-lg) {
//       min-height: 155px;
//       max-height: 159px;
//     }
//   }
//   &__button {
//     margin: 25px 0 0;
//     &:hover,
//     &:focus,
//     &active {
//       margin: 25px 0 0;
//     }
//   }
//   &__most-views-txt {
//     > p {
//       font-weight: $at-light-font;
//       color: $atGrayText;
//       margin: 0;
//       @include respond-to('medium-tablet-landscape') {
//         display: inline;
//       }
//     }
//   }
//   &__description {
//     margin: 45px 0 0 0; // forced to align with graph
//     padding: 0;
//     @include respond-to('medium-tablet-landscape') {
//       margin: 0;
//     }
//   }
// }

// .has-resized {
//   .c-at-chart__line {
//     stroke-dashoffset: 0;
//     opacity: 1;
//     animation: none;
//     animation-play-state: paused;
//   }
//   .c-at-chart__point {
//     opacity: 1;
//     animation: none;
//     animation-play-state: paused;
//   }
// }
// .c-at-chart{
//   min-height: 257px;
// }
// .c-at-performance-overview__line-graph{
//   position: absolute;
//   right: -55%;
//   top: 103px;
// }

// .c-at-performance-overview__line-graph{
//   display: none;
// }

.burger__menu a{
  text-decoration: none;
}
.burger__menu a:hover{
  text-decoration: none;
}


.block{
  position: absolute;
  right: -84px;
  bottom: 537px;
  z-index: -1;
  img{
    width: 100%;
  }
  // .block__berlin{
  //   transition: .3s all;
  //   &:hover{
  //     transition: .3s all;
  //     animation: dotsHover  .5s ease-in-out;
  //   }
  // }
  &__berlin{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    position: absolute;
    bottom: 240px;
    left: 260px;
    cursor: pointer;
    transition: .3s all;
  }
  &__warsaw{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    position: absolute;
    bottom: 222px;
    left: 340px;
    cursor: pointer;
    transition: .3s all;
  }
  &__minsk{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    position: absolute;
    bottom: 258px;
    left: 421px;
    cursor: pointer;
    transition: .3s all;
  }
  &__kyiv{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    position: absolute;
    bottom: 206px;
    left: 471px;
    cursor: pointer;
    transition: .3s all;
  }
  &__zp{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    position: absolute;
    bottom: 176px;
    left: 496px;
    cursor: pointer;
    transition: .3s all;
  }
  &__berlinText{
    display: none;
    font-weight: bold;
    font-size: 8px;
    line-height: 150%;
    color: #FF0000;
    position: absolute;
    bottom: -3px;
    left: -26px;
    // transition: .3s all;
  }
  &__warsawText{
    // display: none;
    opacity: 1;
    transition: .3s all;
    font-weight: bold;
    font-size: 8px;
    line-height: 150%;
    color: #FF0000;
    position: absolute;
    bottom: -3px;
    left: -32px;
  }
  &__minskText{
    // display: none;
    opacity: 1;
    transition: .3s all;
    font-weight: bold;
    font-size: 8px;
    line-height: 150%;
    color: #FF0000;
    position: absolute;
    bottom: -3px;
    left: -26px;
  }
  &__kyivText{
    // display: none;
    opacity: 1;
    transition: .3s all;
    font-weight: bold;
    font-size: 8px;
    line-height: 150%;
    color: #FF0000;
    position: absolute;
    bottom: -3px;
    left: -20px;
  }
  &__zpText{
    // display: none;
    opacity: 1;
    transition: .3s all;
    font-weight: bold;
    font-size: 8px;
    line-height: 150%;
    color: #FF0000;
    position: absolute;
    bottom: -3px;
    left: -52px;
  }
}
.block__text-active{
  display: block;
}
.block__dots-active{
  opacity: 1!important;
}



// .block__warsaw, .block__minsk, .block__kyiv, .block__zp

.mapCity-active{
  animation: dotsHover .5s ease-in-out;
}

.row__dn{
  display: none;
}


.projects__img_wrapper-title, .projects__hover{
  text-decoration: none!important;
}


//Chernetka



// .block__dots-active{
//   &:hover{
//     transform: scale(2);
//     .textBlock-map{
//       transform: scale(1);
//     }
//   }
// }

// .fendi{
//   max-width: 568px;
//   width: 568px;
//   img{
//     width: 100%;
//   }
// }

.wave{
  .connecting-dots{
    width: 100vw!important;
    height: 433px!important;
  }
}
.steps__row{
  height: 360px;
  overflow: hidden;
  margin-bottom: 0;
}
.active{
  z-index: 0;
  height: 25px;
}
.steps__scale_block{
  height: 25px;
}
.steps__scale{
  height: 123px;
}
.blo1{
  z-index: 999;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-left: -15px;
}


//ere
@keyframes termometr_blockActive{
  from{
      transform: translateX(-100%);
  }
  17%{
      transform: translateX(-84%);

  }
  34%{
      transform: translateX(-67%);
  }
  50%{
      transform: translateX(-50%);
  }
  67%{
      transform: translateX(-34%);
  }
  84%{
      transform: translateX(-17%);
  }
  to{
      transform: translateX(0%);
  }
}
@keyframes termometr__titleActive{
  from{
    color: #C4C4C4;
  }
  17%{
    color: #C4C4C4;
  }
  34%{
    color: #C4C4C4;
  }
  50%{
    color: #C4C4C4;
  }
  67%{
    color: #C4C4C4;
  }
  84%{
    color: #C4C4C4;
  }
  99%{
    color: #C4C4C4;
  }
  to{
    color: #000000;
  }
}
@keyframes termometr__branchActive{
  from{
    background: #C4C4C4;
  }
  17%{
    background: #C4C4C4;
  }
  34%{
    background: #C4C4C4;
  }
  50%{
    background: #C4C4C4;
  }
  67%{
    background: #C4C4C4;
  }
  84%{
    background: #C4C4C4;
  }
  99%{
    background: #C4C4C4;
  }
  to{
    background: #ff0000;
  }
}

.termometr__wrapperWra{
  // margin: 0 auto;
  margin-top: 50px;
  position: relative;
  margin-left: 23px;
}
.termometr__wrapper{
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;

}
.termometr__wrapper_block{
  width: 115px;
  border: 1px solid black;
  height: 25px;
  position: relative;
  border-left: none;
  border-right: none;
}
.termometr__wrapper_blockActive{
  position: absolute; 
  background: #ff0000;
  height: 25px;
  width: 100%;
  transform: translateX(0%);
  animation: termometr_blockActive 4s linear;
}
.termometr__wrapper_block-start{
  position: absolute;
  left: 0;
  top: -47px;
  width: 2px;
  height: 120px;
  background: #ff0000;
  animation: termometr__branchActive 0s linear;
}
.termometr__wrapper_block-finish{
  position: absolute;
  right: 0;
  top: -47px;
  width: 2px;
  height: 120px;
  background: #ff0000;
  animation: termometr__branchActive 4s linear;
}
.termometr__wrapper_block-second{
  position: absolute;
  left: 115px;
  top: -38px;
  width: 2px;
  height: 100px;
  background: #ff0000;
  animation: termometr__branchActive 0.67s linear;
}
.termometr__wrapper_block-third{
  position: absolute;
  left: 230px;
  top: -38px;
  width: 2px;
  height: 100px;
  background: #ff0000;
  animation: termometr__branchActive 1.34s linear;
}
.termometr__wrapper_block-fourth{
  position: absolute;
  left: 345px;
  top: -38px;
  width: 2px;
  height: 100px;
  background: #ff0000;
  animation: termometr__branchActive 2.01s linear;
}
.termometr__wrapper_block-fifth{
  position: absolute;
  left: 460px;
  top: -38px;
  width: 2px;
  height: 100px;
  background: #ff0000;
  animation: termometr__branchActive 2.68s linear;
}
.termometr__wrapper_block-sixth{
  position: absolute;
  left: 575px;
  top: -38px;
  width: 2px;
  height: 100px;
  background: #ff0000;
  animation: termometr__branchActive 3.35s linear;
}
.termometr__wrapper_block-title{
  position: absolute;
  font-size: 12px;
  line-height: 130%;
  color: #C4C4C4;
}
.twbt-start{
  bottom: -112px;
  left: 0;
  width: 100px;
  height: 60px;
  color: #000000;
  animation: termometr__titleActive 0s linear;
}
.twbt-finish{
  bottom: -112px;
  right: 0;
  width: 100px;
  text-align: right;
  height: 60px;
  color: #000000;
  animation: termometr__titleActive 4s linear;
}
.twbt-eva{
  top: -73px;
  left: 115px;
  width: 100px;
  color: #000000;
  animation: termometr__titleActive 0.67s linear;
}
.twbt-UIUX{
  bottom: -112px;
  left: 230px;
  width: 100px;
  height: 60px;
  color: #000000;
  animation: termometr__titleActive 1.34s linear;
}
.twbt-solut{
  top: -73px;
  left: 345px;
  width: 100px;
  color: #000000;
  animation: termometr__titleActive 2.01s linear;
}
.twbt-test{
  bottom: -112px;
  left: 460px;
  width: 100px;
  height: 60px;
  color: #000000;
  animation: termometr__titleActive 2.68s linear;
}
.twbt-ver{
  top: -73px;
  left: 575px;
  width: 100px;
  color: #000000;
  animation: termometr__titleActive 3.35s linear;
}
.psevdo{
  padding-top: 80px;
}

.projects__hover_overEx2{
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.siteManager__slider2_tools{
  display: none;
}
.siteManager__slider2_lastTools .swiper-slide{
  height: 672px;
}


.block-big{
  display: none;
}

.block{
  z-index: -1!important;
}

@import "../scss/header";
@import "../scss/promo";
@import "../scss/we";
@import "../scss/expertise.scss";
@import "../scss/workingModules.scss";
@import "../scss/projectsType.scss";
@import "../scss/steps.scss";
@import "../scss/stack.scss";
@import "../scss/projects.scss";
@import "../scss/contact.scss";
@import "../scss/faqQa.scss";
@import "../scss/case.scss";
@import "../scss/ex2app.scss";
@import '../scss/serpFarm.scss';
@import '../scss/siteManager.scss';
@import '../scss/mathison.scss';
@import '../scss/mathisonWeb.scss';

@import "../scss/media.scss";




