.we{
    padding: 35px 20px 0px 20px;
    position: relative;
    overflow-x: hidden;
    &__map{
        position: absolute;
        right: -84px;
        bottom: 37px;
    }
     &__mapWarsaw{
        display: none;
        position: absolute;
        right: -84px;
        bottom: 37px;
    }
    &__mapMinsk{
        display: none;
        position: absolute;
        right: -84px;
        bottom: 37px;
    }
    &__mapKyiv{
        display: none;
        position: absolute;
        right: -84px;
        bottom: 37px;
    }
    &__mapZp{
        display: none;
        position: absolute;
        right: -84px;
        bottom: 37px;
    }
    &__title{
        font-family: 'Russo One', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.05em;
        color: #000000;
        padding-left: 41px;
    }
    &__descr{
        font-size: 16px;
        line-height: 130%;
        color: #000000;
        margin-top: -2px;
    }
    &__digit{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 62px;
        &_title{
            font-family: 'Russo One', sans-serif;
            font-size: 40px;
            line-height: 130%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #000000;
        }
        &__subtitle{
            font-size: 14px;
            line-height: 130%;
            color: #000000;
        }
    }
    &__location{
        margin-top: 146px;
        &_title{
            white-space: nowrap;
            margin-bottom: 85px;
        }
    }
    &__list{
        margin-top: 32px;
        &_city{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #000000;
            cursor: pointer;
            transition: .2s all;
            width: fit-content;
            &-active{
                color: #FF0000;
                transition: .2s all;
                font-weight: 500;
            }
        }
    }
}

.block__warsaw{
    &:hover{
        .block__warsawText{
            opacity: 1;
            transition: .3s all;
        }
    }
}
.block__minsk{
    &:hover{
        .block__minskText{
            opacity: 1;
            transition: .3s all;
        }
    }
}
.block__kyiv{
    &:hover{
        .block__kyivText{
            opacity: 1;
            transition: .3s all;
        }
    }
}
.block__zp{
    &:hover{
        .block__zpText{
            opacity: 1;
            transition: .3s all;
        }
    }
}
