.workingModules{
    padding-top: 178px;
    &__title{
        padding-left: 35px;
    }
    &__row{
        min-height: 381px;
    }
    &__circles{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &_price{
            position: relative;
            min-width: 381px;
            min-height: 381px;
            width: 381px;
            height: 381px;
            border-radius: 50%;
            background: transparent;
            border: 3px solid #000000;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &-title{
                font-size: 28px;
                line-height: 100%;
                letter-spacing: 0.05em;
                color: #000000;
                font-family: 'Russo One', sans-serif;
                text-align: center;
                // margin-top: 14px;
                transition: .3s all;
                position: absolute;
                top: 181px;
            }
            &-hover1{
                transition: .3s all;
                position: absolute;
                left: 0%;
                z-index: 1;
                // transform: translateX(calc(-50% - 300px));
                top: 0;
                &:hover{
                    border: 3px solid red;
                    transition: .3s all;
                    z-index: 3;
                    .workingModules__circles_price-hover1_path{
                        fill: #FF0000;
                        transition: .3s all;
                    }
                    .workingModules__circles_price-title{
                        color: #FF0000;
                        transition: .3s all;
                    }
                    .workingModules__circles_price-hover1{
                        border: 3px solid  #FF0000;
                    }
                }
            }
            &-hover2{
                transition: .3s all;
                position: absolute;
                left: 0%;
                // transform: translateX(calc(50% + 300px));
                transform: translateX(300px);
                z-index: 1;
                top: 0;
                &:hover{
                    border: 3px solid red;
                    transition: .3s all;
                    z-index: 3;
                    .workingModules__circles_price-hover1_path{
                        fill: #FF0000;
                        transition: .3s all;
                    }
                    .workingModules__circles_price-title{
                        color: #FF0000;
                        transition: .3s all;
                    }
                    .workingModules__circles_price-hover2{
                        border: 3px solid  #FF0000;
                    }
                }
            }
            &-hover3{
                transition: .3s all;
                position: absolute;
                left: 0%;
                transform: translateX(calc(600px));
                top: 0;
                z-index: 1;
                &:hover{
                    border: 3px solid red;
                    transition: .3s all;
                    z-index: 3;
                    &:hover{
                        .workingModules__circles_price-hover1_path{
                            fill: #FF0000;
                            transition: .3s all;
                        }
                    }
                    .workingModules__circles_price-title{
                        color: #FF0000;
                        transition: .3s all;
                    }
                }
            }
        }
    }
    .workingModules__contact_svgwP{
        transition: .3s all;
    }
    &__contact{
        display: flex;
        align-items: center;
        margin-top: 61px;
        border-bottom: 2px solid #000000;
        cursor: pointer;
        transition: .3s all;
        &:hover{
            transition: .3s all;
            border-bottom: 2px solid #ff0000;
            .workingModules__contact_text{
                color: #ff0000;
            }
            .workingModules__contact_svg{
                fill: #ff0000;
            }
            .workingModules__contact_svgwP{
                animation: arrow_contact  .3s ease-in-out;
            }
        }
        &_text{
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            color: #000000;
            margin-right: 7px;
            transition: .3s all;
        }
        &_svg{
            transition: .3s all;
        }
    }
}
.workingModules__circles_price-hover1_path{
    transition: .3s all;
}

.FP_SVG{
    width: 86px;
    height: 86px;
    position: absolute;
    top: 74px;
}